[2018-06-02 08:07] yegor256 opened #1 "Skeleton"
Let's create a skeleton and deploy it to Maven Central.

[2018-06-02 10:43] yegor256 commented on #1
https://issues.sonatype.org/browse/OSSRH-40236

[2018-06-02 11:37] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2018-06-02 11:39] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14752-394080662)

[2018-06-02 11:45] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14752-394080662) (spent 6min)

[code]

[2018-06-03 18:04] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2018-06-03 18:05] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14752-394179958)

[2018-06-03 18:13] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14752-394179958) (spent 8min)

[code]

[2018-06-03 18:27] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14752-394181258)

[2018-06-03 18:37] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14752-394181258) (spent 10min)

[code]

[2018-06-03 18:41] yegor256 commented on #1
@rultor release, tag is `0.0.2`

[2018-06-03 18:42] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14752-394182300)

[2018-06-03 18:52] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14752-394182300) (took me 10min)

[2018-06-03 18:58] #1 closed

[2018-06-25 19:56] llorllale opened #4 "Wallets"
Let's implement `Wallets`:

https://github.com/zold-io/java-api/blob/f323e05f461a45ebe4a8b791abbc567be7165f8e/src/main/java/io/zold/api/Wallets.java#L34-L40

Let's name the implementation `WalletsIn`.

[2018-06-25 19:56] llorllale commented on #4
@0crat hey

[2018-06-25 19:56] 0crat commented on #4
@llorllale Hey, what's up, how is it going?

[2018-06-25 19:58] llorllale commented on #4
@0crat in

[2018-06-25 19:59] 0crat commented on #4
@llorllale Job [#4](https://github.com/zold-io/java-api/issues/4) is now in scope, role is `DEV`

[2018-06-25 19:59] 0crat commented on #4
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-25 20:01] llorllale opened #5 "Network"
Let's implement `Network`:

https://github.com/zold-io/java-api/blob/f323e05f461a45ebe4a8b791abbc567be7165f8e/src/main/java/io/zold/api/Network.java#L34-L48

[2018-06-25 20:02] llorllale commented on #5
@0crat in

[2018-06-25 20:02] 0crat commented on #5
@llorllale Job [#5](https://github.com/zold-io/java-api/issues/5) is now in scope, role is `DEV`

[2018-06-25 20:02] 0crat commented on #5
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-25 20:02] llorllale opened #6 "Wallet"
Let's implement `Wallet`:

https://github.com/zold-io/java-api/blob/f323e05f461a45ebe4a8b791abbc567be7165f8e/src/main/java/io/zold/api/Wallet.java#L35-L63

[2018-06-25 20:04] llorllale commented on #6
@0crat in

[2018-06-25 20:04] 0crat commented on #6
@llorllale Job [#6](https://github.com/zold-io/java-api/issues/6) is now in scope, role is `DEV`

[2018-06-25 20:04] 0crat commented on #6
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-03 11:23] llorllale commented on #4
@0crat assign @t-izbassar

[2018-07-03 11:24] 0crat commented on #4
@llorllale The job [#4](https://github.com/zold-io/java-api/issues/4) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/CAZUREFND/1841123804); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2018-07-03 11:24] 0crat commented on #4
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-03 18:26] t-izbassar opened #7 "Documentation is inconsistent with Interfaces"
The [README.md](https://github.com/zold-io/java-api/blob/master/README.md) is outdated. There is no `find` method in `Wallets.` Also no `pull` method in `Wallet.` The `Amount` interface does not exist.

With outdated documentation, it's hard to understand how the interfaces are intended to be used.

[2018-07-03 18:29] t-izbassar opened #8 "How to connect to network?"
It's not clear how to connect to Zold network. Is there some `REST API` that we should use? Or there is some master address, and we need to issue some commands?

[2018-07-03 18:29] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256), @llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-03 18:29] 0crat commented on #8
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#8, Action: `opened`

[2018-07-03 19:14] t-izbassar opened #9 "Introduce WalletMatcher"
It will be useful for tests to have class `WalletMatcher`. It can be used as follows:
[code]

[2018-07-03 19:15] 0crat commented on #9
@yegor256[/z](https://www.0crat.com/u/yegor256), @llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-03 19:15] 0crat commented on #9
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#9, Action: `opened`

[2018-07-03 19:22] 0crat commented on #4
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @llorllale[/z](https://www.0crat.com/u/llorllale) is the architect now

[2018-07-03 19:22] 0crat commented on #6
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @llorllale[/z](https://www.0crat.com/u/llorllale) is the architect now

[2018-07-03 20:30] llorllale commented on #9
@t-izbassar aside from the fact that we avoid static methods, I don't see the need for this...

[2018-07-03 20:36] llorllale commented on #8
@t-izbassar refer to *RESTful API* in the [whitepaper](https://papers.zold.io/wp.pdf).

I've added a recommendation to read the whitepaper in the README (see b8913ff810063dd7f395e5be9d5fc44a5b450886).

Does this answer your questions?

[2018-07-03 20:38] 0crat commented on #7
The job [#7](https://github.com/zold-io/java-api/issues/7) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/CAZUREFND/1842040690); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-03 20:38] 0crat commented on #7
Job `gh:zold-io/java-api#7` already assigned to @llorllale, can't assign to @llorllale

[2018-07-03 20:38] 0crat commented on #7
Job [#7](https://github.com/zold-io/java-api/issues/7) is already assigned to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-03 20:38] 0crat commented on #7
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-07-03 20:38] 0crat commented on #7
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-03 20:42] t-izbassar opened #11 "Network should allow to pull all wallets"
The `Network` interface should contain method, that will allow pulling all wallets.
[code]

[2018-07-03 20:43] 0crat commented on #11
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-03 20:43] 0crat commented on #11
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#11, Action: `opened`

[2018-07-03 20:47] llorllale commented on #11
@t-izbassar why would you need that?

[2018-07-03 20:53] llorllale commented on #7
@t-izbassar

#### To find a wallet in `Wallets`
[code]

#### To pull (and merge) wallet from the network:
[code]

Regarding `Amount`, I honestly don't see a need for it (yet). Seems like a bit of over-engineering to me, don't you think?

[2018-07-03 21:00] t-izbassar commented on #11
@llorllale it will be used to have the initial state of up-to-date `Wallets`. Also, it might be useful when we want to clear the current `Wallets` for some reasons and pull them back. Well, maybe it should be done in `Wallets` but I think the method to pull them all should belong to `Network`.

[2018-07-03 21:04] t-izbassar commented on #8
@llorllale the API part of the white paper is helpful. However, to what node we should connect? How to get the relevant node address? Is it enough to connect to the one node or we need to ask every node for information?

[2018-07-03 21:06] t-izbassar commented on #7
@llorllale yes, I agree. Thanks for the update of documentation. Let's delete `Amoun` I guess. We can introduce it later.

[2018-07-03 21:17] 0pdd opened #12 "WalletsIn.java:70-73: Return the new instance of the..."
The puzzle `4-968ad704` from #4 has to be resolved:

https://github.com/zold-io/java-api/blob/93fa5fc251ff69dcb28db1b9a5195c111b05c004/src/main/java/io/zold/api/WalletsIn.java#L70-L73

The puzzle was created by Tolegen Izbassar on 03-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-07-03 21:17] 0pdd commented on #12
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-03 21:17] 0pdd opened #13 "WalletsIn.java:79-82: Read instance of the Wallet from..."
The puzzle `4-aab61a84` from #4 has to be resolved:

https://github.com/zold-io/java-api/blob/93fa5fc251ff69dcb28db1b9a5195c111b05c004/src/main/java/io/zold/api/WalletsIn.java#L79-L82

The puzzle was created by Tolegen Izbassar on 03-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-07-03 21:17] 0pdd commented on #13
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-03 21:17] 0pdd commented on #4
@llorllale 2 puzzles [#12](https://github.com/zold-io/java-api/issues/12), [#13](https://github.com/zold-io/java-api/issues/13) are still not solved.

[2018-07-03 21:18] 0crat commented on #12
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-03 21:18] 0crat commented on #12
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#12, Action: `opened`

[2018-07-03 21:19] 0crat commented on #13
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-03 21:19] 0crat commented on #13
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#13, Action: `opened`

[2018-07-03 22:45] llorllale commented on #8
@t-izbassar

Depends on the activity. As per the whitepaper:

* Pull a wallet from all nodes that know about said wallet
* Pay taxes to the node with the highest score
* Push a wallet to "any" node of your choosing. That node will also then promote your wallet to all other nodes that it knows about (if your tax debt is < 1 ZLD)

[2018-07-03 22:56] llorllale commented on #8
@t-izbassar

As per the whitepaper, there is a default list of nodes defined [here](https://github.com/zold-io/zold/blob/master/resources/remotes). The REST API also defines a node endpoint that returns the list of all remote nodes that that node is currently aware of.

[2018-07-03 23:13] llorllale commented on #11
@t-izbassar if we add a ctor `WalletsIn(Iterable<Wallet>)` then we could do:

[code]

[2018-07-04 01:10] llorllale commented on #7
@t-izbassar see e5396bd908b3292637b8c899c6e0a5a1f7938cfc

Can we close this now?

[2018-07-04 01:53] carlosmiranda commented on #6
@llorllale see PR #14

[2018-07-04 04:59] t-izbassar commented on #7
@llorllale sure. Thanks.

[2018-07-04 04:59] 0crat commented on #7
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#7, Action: `closed`

[2018-07-04 05:00] t-izbassar commented on #8
@llorllale thanks for clarifications.

[2018-07-04 05:00] #8 closed

[2018-07-04 05:00] 0crat commented on #8
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#8, Action: `closed`

[2018-07-04 05:00] 0crat commented on #8
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#8, Action: `closed`

[2018-07-04 05:00] t-izbassar commented on #11
@llorllale make sense, thanks.

[2018-07-04 05:01] 0crat commented on #11
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#11, Action: `closed`

[2018-07-04 05:01] 0crat commented on #11
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#11, Action: `closed`

[2018-07-04 05:01] 0crat commented on #11
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-04 05:02] 0crat commented on #11
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#11, Action: `reopened`

[2018-07-04 05:02] t-izbassar commented on #4
@llorllale this is done by #10. Can we close it?

[2018-07-04 05:13] t-izbassar commented on #11
@llorllale but from where we will receive this `Iterable<Wallet>` with which we can merge it? Right now we will need to pull them one by one.

[2018-07-04 05:15] 0crat commented on #8
Job `gh:zold-io/java-api#8` is not assigned, can't get performer

[2018-07-04 05:16] 0crat commented on #8
Job `gh:zold-io/java-api#8` is not assigned, can't get performer

[2018-07-04 05:16] 0crat commented on #11
Job `gh:zold-io/java-api#11` is not assigned, can't get performer

[2018-07-04 05:16] 0crat commented on #11
Job `gh:zold-io/java-api#11` is not assigned, can't get performer

[2018-07-04 05:16] 0crat commented on #11
The job is not in WBS, won't close the order

[2018-07-04 12:08] llorllale commented on #4
@t-izbassar thanks!

[2018-07-04 12:09] #4 closed

[2018-07-04 12:09] 0crat commented on #4
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.10](https://github.com/zerocracy/farm): Issue: zold-io/java-api#4, Action: `closed`

[2018-07-04 12:35] ypshenychka commented on #4
@0crat quality good

[2018-07-04 12:38] 0crat commented on #4
Order was finished, quality is "good": +38 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-07-04 12:38] 0crat commented on #4
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-04 15:48] 0pdd opened #15 "Wallet.java:123-125: Implement pay method. This should..."
The puzzle `6-f97f5c14` from #6 has to be resolved:

https://github.com/zold-io/java-api/blob/55c445ee86bcac8453fb2efacfc396330d580345/src/main/java/io/zold/api/Wallet.java#L123-L125

The puzzle was created by rultor on 04-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of

[2018-07-04 15:48] 0pdd commented on #15
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-04 15:48] 0pdd opened #16 "Wallet.java:131-134: Implement merge method. This should..."
The puzzle `6-af7c6ffd` from #6 has to be resolved:

https://github.com/zold-io/java-api/blob/55c445ee86bcac8453fb2efacfc396330d580345/src/main/java/io/zold/api/Wallet.java#L131-L134

The puzzle was created by rultor on 04-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of

[2018-07-04 15:48] 0pdd opened #17 "Wallet.java:142-144: Implement ledger method. This should..."
The puzzle `6-2cc9aa8f` from #6 has to be resolved:

https://github.com/zold-io/java-api/blob/55c445ee86bcac8453fb2efacfc396330d580345/src/main/java/io/zold/api/Wallet.java#L142-L144

The puzzle was created by rultor on 04-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of

[2018-07-04 15:48] 0pdd commented on #17
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-04 15:48] 0pdd commented on #6
@llorllale 3 puzzles [#15](https://github.com/zold-io/java-api/issues/15), [#16](https://github.com/zold-io/java-api/issues/16), [#17](https://github.com/zold-io/java-api/issues/17) are still not solved.

[2018-07-04 15:48] 0crat commented on #16
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-04 15:48] 0crat commented on #15
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-04 15:48] 0crat commented on #15
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.10](https://github.com/zerocracy/farm): Issue: zold-io/java-api#15, Action: `opened`

[2018-07-04 15:50] 0crat commented on #17
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-04 15:50] 0crat commented on #17
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.10](https://github.com/zerocracy/farm): Issue: zold-io/java-api#17, Action: `opened`

[2018-07-04 15:51] 0crat commented on #16
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.24.10](https://github.com/zerocracy/farm): Issue: zold-io/java-api#16, Action: `opened`

[2018-07-04 18:21] llorllale commented on #15
@0crat in

[2018-07-04 18:21] 0crat commented on #15
@llorllale Job [#15](https://github.com/zold-io/java-api/issues/15) is now in scope, role is `DEV`

[2018-07-04 18:28] llorllale commented on #11
@t-izbassar the REST API does not provide an endpoint for pulling a list of wallets.

The `Iterable<Wallet>` will be `Mapped` in this case:

[code]

[2018-07-04 18:31] 0crat commented on #15
The job [#15](https://github.com/zold-io/java-api/issues/15) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/CAZUREFND/1851837235); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-04 23:20] carlosmiranda commented on #6
@llorllale PR #14 merged, may we close this now?

[2018-07-05 11:39] 0crat commented on #6
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-05 11:39] 0crat commented on #6
The job [#6](https://github.com/zold-io/java-api/issues/6) is now out of scope

[2018-07-05 11:39] 0crat commented on #6
Job `gh:zold-io/java-api#6` is not assigned, can't get performer

[2018-07-05 11:39] 0crat commented on #6
The job is not in WBS, won't close the order

[2018-07-05 12:00] ypshenychka commented on #6
@0crat quality good

[2018-07-05 12:03] 0crat commented on #6
Order was finished, quality is "good": +38 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-05 12:04] 0crat commented on #6
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-05 20:33] llorllale commented on #17
@0crat in

[2018-07-05 20:33] 0crat commented on #17
@llorllale Job [#17](https://github.com/zold-io/java-api/issues/17) is now in scope, role is `DEV`

[2018-07-05 20:33] llorllale commented on #16
@0crat in

[2018-07-05 20:34] 0crat commented on #16
@llorllale Job [#16](https://github.com/zold-io/java-api/issues/16) is now in scope, role is `DEV`

[2018-07-05 20:34] llorllale commented on #13
@0crat in

[2018-07-05 20:34] 0crat commented on #13
@llorllale Job [#13](https://github.com/zold-io/java-api/issues/13) is now in scope, role is `DEV`

[2018-07-05 20:34] llorllale commented on #12
@0crat in

[2018-07-05 20:35] 0crat commented on #12
@llorllale Job [#12](https://github.com/zold-io/java-api/issues/12) is now in scope, role is `DEV`

[2018-07-05 20:37] llorllale commented on #11
@t-izbassar if the wallets in a directory are removed you should be able to obtain an the updated version from the network itself by pulling them. It is assumed that you previously pushed all changes in your wallets to the network.

[2018-07-05 20:39] 0crat commented on #17
The job [#17](https://github.com/zold-io/java-api/issues/17) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/CAZUREFND/1862047053); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-05 20:44] 0crat commented on #16
The job [#16](https://github.com/zold-io/java-api/issues/16) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/CAZUREFND/1862052109); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-05 20:49] 0crat commented on #13
The job [#13](https://github.com/zold-io/java-api/issues/13) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/CAZUREFND/1862057162); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-05 20:54] 0crat commented on #12
The job [#12](https://github.com/zold-io/java-api/issues/12) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/CAZUREFND/1862062215); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-05 23:39] llorllale commented on #12
@0crat refuse

[2018-07-05 23:39] 0crat commented on #12
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#12](https://github.com/zold-io/java-api/issues/12), please stop working. Reason for job resignation: Order was cancelled

[2018-07-05 23:39] llorllale commented on #13
@0crat refuse

[2018-07-05 23:39] llorllale commented on #16
@0crat refuse

[2018-07-05 23:39] 0crat commented on #12
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-05 23:39] 0crat commented on #13
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#13](https://github.com/zold-io/java-api/issues/13), please stop working. Reason for job resignation: Order was cancelled

[2018-07-05 23:39] llorllale commented on #17
@0crat refuse

[2018-07-05 23:40] 0crat commented on #16
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#16](https://github.com/zold-io/java-api/issues/16), please stop working. Reason for job resignation: Order was cancelled

[2018-07-05 23:40] 0crat commented on #13
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-05 23:40] 0crat commented on #17
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#17](https://github.com/zold-io/java-api/issues/17), please stop working. Reason for job resignation: Order was cancelled

[2018-07-05 23:40] 0crat commented on #17
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-05 23:40] llorllale commented on #7
@0crat status

[2018-07-05 23:41] 0crat commented on #7
@llorllale This is what I know about this job in [CAZUREFND](https://www.0crat.com/p/CAZUREFND), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#7](https://github.com/zold-io/java-api/issues/7) is [in scope](http://www.zerocracy.com/policy.html#14) for 2days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [2days](http://ww

[2018-07-05 23:41] #7 closed

[2018-07-05 23:42] 0crat commented on #7
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.1](https://github.com/zerocracy/farm): Issue: zold-io/java-api#7, Action: `reopened`

[2018-07-05 23:57] 0crat commented on #7
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.1](https://github.com/zerocracy/farm): CID: [1862352179](https://www.0crat.com/CAZUREFND/1862352179), Type: "Close job", Author: "llorllale"

[2018-07-05 23:57] 0crat commented on #7
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-05 23:58] 0crat commented on #7
The job [#7](https://github.com/zold-io/java-api/issues/7) is now out of scope

[2018-07-05 23:59] 0crat commented on #17
The job [#17](https://github.com/zold-io/java-api/issues/17) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/CAZUREFND/1862369366); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-06 00:04] 0crat commented on #16
The job [#16](https://github.com/zold-io/java-api/issues/16) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/CAZUREFND/1870014418); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-06 02:35] paulodamaso opened #18 "Upgrade qulice to 0.17.3"
New qulice version brings following important changes:

- removal of `@author` tag (it is prohibited now)
- removal of `@version` tag (it is prohibited now)
- license header should start with `/*` instead of `/**` - this will fix problem with IntelliJ reporting it as a javadoc that is not attached to any class
- checkstyle validation performance improvement (speedup of ~ 10%)
- few minor formattin

[2018-07-06 02:35] 0crat commented on #18
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-06 02:35] 0crat commented on #18
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.1](https://github.com/zerocracy/farm): Issue: zold-io/java-api#18, Action: `opened`

[2018-07-06 03:02] paulodamaso commented on #5
@llorllale Just a doubt here, whitepaper says in page 13 about `Fetch` action, it is related to `Network.pull(id)` method, right? It wouldn't be better to keep naming consistency and use `fetch` for the method name?

[2018-07-06 07:19] t-izbassar commented on #11
@llorllale thanks for clarifications. I also have read the white paper and understand many things better now.

[2018-07-06 07:19] #11 closed

[2018-07-06 07:19] 0crat commented on #11
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.1](https://github.com/zerocracy/farm): Issue: zold-io/java-api#11, Action: `closed`

[2018-07-06 07:34] 0crat commented on #11
Job `gh:zold-io/java-api#11` is not assigned, can't get performer

[2018-07-06 07:34] 0crat commented on #11
Job `gh:zold-io/java-api#11` is not assigned, can't get performer

[2018-07-06 07:34] 0crat commented on #11
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.1](https://github.com/zerocracy/farm): CID: [1870734326](https://www.0crat.com/CAZUREFND/1870734326), Type: "Close job", Author: "t-izbassar"

[2018-07-06 18:26] t-izbassar opened #19 "How to sign?"
According to the white paper, we should sign each transaction with RSA. For that, we need an RSA private key. Where to get it? Will it be generated for each wallet?

[2018-07-07 12:18] llorllale commented on #19
@t-izbassar this RSA key will be managed by the user. The user can decide whether they want to use the same one for each of his wallets or different ones.

[2018-07-08 11:37] 0crat commented on #5
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-09 18:37] 0crat commented on #15
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-09 18:45] t-izbassar commented on #15
@0crat wait for #20 to merge.

[2018-07-09 18:45] 0crat commented on #15
@t-izbassar The impediment for [#15](https://github.com/zold-io/java-api/issues/15) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-07-10 13:12] 0pdd commented on #15
The puzzle `6-f97f5c14` has disappeared from the source code, that's why I closed this issue.

[2018-07-10 13:12] #15 closed

[2018-07-10 13:12] 0pdd opened #21 "RtTransaction.java:45-47: Check validity of the incoming..."
The puzzle `15-b88242e3` from #15 has to be resolved:

https://github.com/zold-io/java-api/blob/1405fe34b5be0e02132acb21aae7102e3d57bc2f/src/main/java/io/zold/api/RtTransaction.java#L45-L47

The puzzle was created by Tolegen Izbassar on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-07-10 13:12] 0pdd commented on #21
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-10 13:12] 0pdd opened #22 "RtTransaction.java:53-55: Implement id() by parsing the..."
The puzzle `15-4f67a35d` from #15 has to be resolved:

https://github.com/zold-io/java-api/blob/1405fe34b5be0e02132acb21aae7102e3d57bc2f/src/main/java/io/zold/api/RtTransaction.java#L53-L55

The puzzle was created by Tolegen Izbassar on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-07-10 13:12] 0pdd commented on #22
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-10 13:12] 0pdd opened #23 "RtTransaction.java:62-64: Implement time() by parsing the..."
The puzzle `15-1e017e66` from #15 has to be resolved:

https://github.com/zold-io/java-api/blob/1405fe34b5be0e02132acb21aae7102e3d57bc2f/src/main/java/io/zold/api/RtTransaction.java#L62-L64

The puzzle was created by Tolegen Izbassar on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-07-10 13:12] 0pdd commented on #23
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-10 13:12] 0pdd opened #24 "RtTransaction.java:70-72: Implement amount() by parsing..."
The puzzle `15-a01f2b41` from #15 has to be resolved:

https://github.com/zold-io/java-api/blob/1405fe34b5be0e02132acb21aae7102e3d57bc2f/src/main/java/io/zold/api/RtTransaction.java#L70-L72

The puzzle was created by Tolegen Izbassar on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-07-10 13:12] 0pdd commented on #24
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-10 13:12] 0pdd opened #25 "RtTransaction.java:78-80: Implement prefix() by parsing..."
The puzzle `15-f9a60893` from #15 has to be resolved:

https://github.com/zold-io/java-api/blob/1405fe34b5be0e02132acb21aae7102e3d57bc2f/src/main/java/io/zold/api/RtTransaction.java#L78-L80

The puzzle was created by Tolegen Izbassar on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-07-10 13:12] 0pdd commented on #25
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-10 13:12] 0pdd opened #26 "RtTransaction.java:86-88: Implement bnf() by parsing the..."
The puzzle `15-957c2199` from #15 has to be resolved:

https://github.com/zold-io/java-api/blob/1405fe34b5be0e02132acb21aae7102e3d57bc2f/src/main/java/io/zold/api/RtTransaction.java#L86-L88

The puzzle was created by Tolegen Izbassar on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-07-10 13:12] 0pdd commented on #26
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-10 13:12] 0pdd opened #27 "RtTransaction.java:94-96: Implement details() by parsing..."
The puzzle `15-ad2b4fa5` from #15 has to be resolved:

https://github.com/zold-io/java-api/blob/1405fe34b5be0e02132acb21aae7102e3d57bc2f/src/main/java/io/zold/api/RtTransaction.java#L94-L96

The puzzle was created by Tolegen Izbassar on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-07-10 13:12] 0pdd commented on #27
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-10 13:12] 0pdd opened #28 "RtTransaction.java:104-106: Implement signature by..."
The puzzle `15-0d2d728d` from #15 has to be resolved:

https://github.com/zold-io/java-api/blob/1405fe34b5be0e02132acb21aae7102e3d57bc2f/src/main/java/io/zold/api/RtTransaction.java#L104-L106

The puzzle was created by Tolegen Izbassar on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-07-10 13:12] 0pdd commented on #28
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-10 13:12] 0pdd opened #29 "Wallet.java:123-126: Implement pay method. This should..."
The puzzle `15-0b8da355` from #15 has to be resolved:

https://github.com/zold-io/java-api/blob/1405fe34b5be0e02132acb21aae7102e3d57bc2f/src/main/java/io/zold/api/Wallet.java#L123-L126

The puzzle was created by Tolegen Izbassar on 06-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-07-10 13:12] 0pdd commented on #29
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `zold-io/java-api` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/zold-io/java-api/settings/collaboration):

[code]

[2018-07-10 13:12] 0pdd commented on #6
@llorllale 11 puzzles [#16](https://github.com/zold-io/java-api/issues/16), [#17](https://github.com/zold-io/java-api/issues/17), [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#23](https://github.com/zold-io/java-api/issues/23), [#24](https://github.com/zold-io/java-api/issues/24), [#25](https://github.com/zold-io/java-api/issues/25),

[2018-07-10 13:12] 0pdd commented on #15
@0pdd 9 puzzles [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#23](https://github.com/zold-io/java-api/issues/23), [#24](https://github.com/zold-io/java-api/issues/24), [#25](https://github.com/zold-io/java-api/issues/25), [#26](https://github.com/zold-io/java-api/issues/26), [#27](https://github.com/zold-io/java-api/issues/27), [#28](

[2018-07-10 13:13] 0crat commented on #21
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-10 13:13] 0crat commented on #21
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#21, Action: `opened`

[2018-07-10 13:13] 0crat commented on #15
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#15, Action: `closed`

[2018-07-10 13:14] 0crat commented on #29
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-10 13:15] t-izbassar commented on #15
@0pdd partially fixed in #20.

[2018-07-10 13:15] 0crat commented on #28
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-10 13:15] 0crat commented on #24
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-10 13:15] 0crat commented on #24
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#24, Action: `opened`

[2018-07-10 13:16] 0crat commented on #23
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-10 13:16] 0crat commented on #23
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#23, Action: `opened`

[2018-07-10 13:16] 0crat commented on #22
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-10 13:17] 0crat commented on #22
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#22, Action: `opened`

[2018-07-10 13:18] 0crat commented on #26
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-10 13:28] 0crat commented on #15
Quality review for [#15](https://github.com/zold-io/java-api/issues/15) already exists

[2018-07-10 14:17] llorllale commented on #25
@0crat in

[2018-07-10 14:17] llorllale commented on #27
@0crat in

[2018-07-10 14:18] 0crat commented on #25
@llorllale Job [#25](https://github.com/zold-io/java-api/issues/25) is now in scope, role is `DEV`

[2018-07-10 14:18] 0crat commented on #27
@llorllale Job [#27](https://github.com/zold-io/java-api/issues/27) is now in scope, role is `DEV`

[2018-07-10 14:18] llorllale commented on #21
@0crat in

[2018-07-10 14:18] llorllale commented on #29
@0crat in

[2018-07-10 14:18] 0crat commented on #21
@llorllale Job [#21](https://github.com/zold-io/java-api/issues/21) is now in scope, role is `DEV`

[2018-07-10 14:19] llorllale commented on #28
@0crat in

[2018-07-10 14:19] 0crat commented on #29
@llorllale Job [#29](https://github.com/zold-io/java-api/issues/29) is now in scope, role is `DEV`

[2018-07-10 14:19] 0crat commented on #28
@llorllale Job [#28](https://github.com/zold-io/java-api/issues/28) is now in scope, role is `DEV`

[2018-07-10 14:19] llorllale commented on #24
@0crat in

[2018-07-10 14:19] llorllale commented on #23
@0crat in

[2018-07-10 14:19] 0crat commented on #24
@llorllale Job [#24](https://github.com/zold-io/java-api/issues/24) is now in scope, role is `DEV`

[2018-07-10 14:19] 0crat commented on #23
@llorllale Job [#23](https://github.com/zold-io/java-api/issues/23) is now in scope, role is `DEV`

[2018-07-10 14:19] llorllale commented on #22
@0crat in

[2018-07-10 14:20] llorllale commented on #26
@0crat in

[2018-07-10 14:20] 0crat commented on #22
@llorllale Job [#22](https://github.com/zold-io/java-api/issues/22) is now in scope, role is `DEV`

[2018-07-10 14:20] 0crat commented on #26
@llorllale Job [#26](https://github.com/zold-io/java-api/issues/26) is now in scope, role is `DEV`

[2018-07-10 14:47] 0crat commented on #13
The job [#13](https://github.com/zold-io/java-api/issues/13) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CAZUREFND/1911448391); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-10 15:41] t-izbassar commented on #15
@0crat status

[2018-07-10 15:41] 0crat commented on #15
@t-izbassar This is what I know about this job in [CAZUREFND](https://www.0crat.com/p/CAZUREFND), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#15](https://github.com/zold-io/java-api/issues/15) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) for [6days](http

[2018-07-10 15:42] t-izbassar commented on #15
@ypshenychka can you review this job? It seems like 0crat failed to post notification message.

[2018-07-10 18:07] ypshenychka commented on #15
@t-izbassar Thank you! looking into it.

[2018-07-10 18:09] ypshenychka commented on #15
@0crat quality good

[2018-07-10 18:09] 0crat commented on #15
Order was finished, quality is "good": +38 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-07-10 18:10] 0crat commented on #15
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-10 18:12] 0crat commented on #12
The job [#12](https://github.com/zold-io/java-api/issues/12) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/CAZUREFND/1911815061); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-10 18:16] 0crat commented on #25
The job [#25](https://github.com/zold-io/java-api/issues/25) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CAZUREFND/1911820188); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-07-11 00:37] 0crat commented on #17
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 00:37] 0crat commented on #16
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 04:48] paulodamaso commented on #5
@llorllale Please take a look at this: `pull` is supposed to get the merged wallets from the network?

[2018-07-11 18:51] t-izbassar commented on #17
@0crat wait for #30 to be merged

[2018-07-11 18:52] 0crat commented on #17
@t-izbassar The impediment for [#17](https://github.com/zold-io/java-api/issues/17) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-07-11 18:56] t-izbassar commented on #16
@0crat wait for #17 as the transaction order is important for this task.

[2018-07-11 18:56] 0crat commented on #16
@t-izbassar The impediment for [#16](https://github.com/zold-io/java-api/issues/16) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-07-11 22:22] llorllale commented on #5
@paulodamaso sorry for the delay - I somehow forgot about this question.

I have doubts myself - please see zold-io/zold#387

[2018-07-12 04:29] 0crat commented on #5
@paulodamaso The impediment for [#5](https://github.com/zold-io/java-api/issues/5) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-12 13:23] llorllale commented on #9
@t-izbassar I'm closing this because I don't see a use case for this now

[2018-07-12 13:23] #9 closed

[2018-07-12 13:23] llorllale commented on #19
@t-izbassar can we close this?

[2018-07-12 13:27] #19 closed, assigned to nobody

[2018-07-12 13:39] 0crat commented on #9
The job is not in WBS, won't close the order

[2018-07-12 13:43] 0crat commented on #19
The job is not in WBS, won't close the order

[2018-07-12 13:43] 0crat commented on #19
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.7](https://github.com/zerocracy/farm): CID: [1931329744](https://www.0crat.com/CAZUREFND/1931329744), Type: "Close job", Author: "t-izbassar"

[2018-07-12 13:43] 0crat commented on #19
Job `gh:zold-io/java-api#19` is not assigned, can't get performer

[2018-07-12 17:26] t-izbassar opened #32 "Creation of wallet"
The `Wallets` interface has a method to create a new `Wallet` instance. In order to create Wallet we need header information:

- wallet id
- network name
- protocol version
- public RSA key.

I'm not sure, that the `Wallets.create()` should accept that information through parameters. Who should maintain the ids? From where we will receive it? Through the constructor of `WalletsIn()`?

[2018-07-12 19:55] #17 closed

[2018-07-12 19:55] 0pdd commented on #17
The puzzle `6-2cc9aa8f` has disappeared from the source code, that's why I closed this issue.

[2018-07-12 19:55] 0pdd commented on #6
@llorllale 10 puzzles [#16](https://github.com/zold-io/java-api/issues/16), [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#23](https://github.com/zold-io/java-api/issues/23), [#24](https://github.com/zold-io/java-api/issues/24), [#25](https://github.com/zold-io/java-api/issues/25), [#26](https://github.com/zold-io/java-api/issues/26),

[2018-07-12 19:56] 0crat commented on #17
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.7](https://github.com/zerocracy/farm): Issue: zold-io/java-api#17, Action: `closed`

[2018-07-12 19:57] t-izbassar commented on #17
@0pdd fixed in #30.

[2018-07-12 19:57] t-izbassar commented on #17
@0crat status

[2018-07-12 19:57] 0crat commented on #17
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.7](https://github.com/zerocracy/farm): Issue: zold-io/java-api#17, Comment: 404632001

[2018-07-12 19:57] 0crat commented on #17
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.7](https://github.com/zerocracy/farm): Issue: zold-io/java-api#17, Action: `created`

[2018-07-12 19:57] 0crat commented on #17
@t-izbassar This is what I know about this job in [CAZUREFND](https://www.0crat.com/p/CAZUREFND), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#17](https://github.com/zold-io/java-api/issues/17) is [in scope](http://www.zerocracy.com/policy.html#14) for 7days
  * The role is `DEV`
  * The job is assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) for [7days](http

[2018-07-12 20:11] 0crat commented on #17
Quality review for [#17](https://github.com/zold-io/java-api/issues/17) already exists

[2018-07-12 20:11] t-izbassar commented on #17
@0crat status

[2018-07-12 20:12] 0crat commented on #17
@t-izbassar This is what I know about this job in [CAZUREFND](https://www.0crat.com/p/CAZUREFND), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#17](https://github.com/zold-io/java-api/issues/17) is [in scope](http://www.zerocracy.com/policy.html#14) for 7days
  * The role is `DEV`
  * The job is assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) for [7days](http

[2018-07-12 20:14] t-izbassar commented on #17
@ypshenychka can you review this one as well? 0crat didn't put notification message again)

[2018-07-12 23:04] 0pdd opened #34 "WalletTest.java:43-46: CheckedScalar from 'cactoos' does..."
The puzzle `33-65714492` from #33 has to be resolved:

https://github.com/zold-io/java-api/blob/01791059c35ce1ac0476c20043f89db209f0ea5b/src/test/java/io/zold/api/WalletTest.java#L43-L46

The puzzle was created by George Aristy on 12-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-07-12 23:04] 0crat commented on #34
Job [#34](https://github.com/zold-io/java-api/issues/34) is now in scope, role is `DEV`

[2018-07-12 23:05] 0crat commented on #34
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-12 23:05] 0crat commented on #34
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.7](https://github.com/zerocracy/farm): Issue: zold-io/java-api#34, Action: `opened`

[2018-07-12 23:29] llorllale commented on #32
@t-izbassar

* `id`: My thoughts for now are to make this library generate this randomly and internally somehow.
* `network name` and `protocol version`: I just started asking about *network name* at zold-io/papers#44. The `X-Zold-Protocol` header mentioned in `RESTful API` is linked to the name. Thus it would seem like the wallet's network name is tied to whichever node it's first pushed to. I th

[2018-07-13 05:07] ypshenychka commented on #17
@llorllale thank you!

[2018-07-13 05:08] ypshenychka commented on #17
@0crat quality good

[2018-07-13 05:09] 0crat commented on #17
Order was finished, quality is "good": +46 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-07-13 05:09] 0crat commented on #17
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-13 05:33] 0crat commented on #18
The job [#18](https://github.com/zold-io/java-api/issues/18) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CAZUREFND/1940546428); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-07-13 05:43] 0crat commented on #34
The job [#34](https://github.com/zold-io/java-api/issues/34) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/CAZUREFND/1940556664); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-14 00:10] carlosmiranda commented on #13
@llorllale see PR #37 please

[2018-07-14 00:10] carlosmiranda commented on #13
@0crat wait for merge of PR #37.

[2018-07-14 00:10] 0crat commented on #13
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#13, Comment: 404983211

[2018-07-14 00:10] 0crat commented on #13
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#13, Action: `created`

[2018-07-14 00:16] carlosmiranda commented on #13
@0crat wait for merge of PR #37

[2018-07-14 00:16] 0crat commented on #13
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#13, Comment: 404983753

[2018-07-14 00:16] 0crat commented on #13
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#13, Action: `created`

[2018-07-14 01:34] 0crat commented on #13
@carlosmiranda The impediment for [#13](https://github.com/zold-io/java-api/issues/13) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-14 01:34] 0crat commented on #13
@carlosmiranda Job [#13](https://github.com/zold-io/java-api/issues/13) is already on hold

[2018-07-16 13:37] #13 closed

[2018-07-16 13:37] 0pdd commented on #13
The puzzle `4-aab61a84` has disappeared from the source code, that's why I closed this issue.

[2018-07-16 13:37] 0pdd commented on #4
@llorllale the puzzle [#12](https://github.com/zold-io/java-api/issues/12) is still not solved; solved: [#13](https://github.com/zold-io/java-api/issues/13).

[2018-07-16 13:38] 0crat commented on #13
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.15](https://github.com/zerocracy/farm): Issue: zold-io/java-api#13, Action: `closed`

[2018-07-16 13:54] 0crat commented on #13
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-16 13:55] 0crat commented on #13
The job [#13](https://github.com/zold-io/java-api/issues/13) is now out of scope

[2018-07-16 13:58] ypshenychka commented on #13
@0crat quality good

[2018-07-16 14:13] 0crat commented on #13
Order was finished, quality is "good": +46 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-16 14:13] 0crat commented on #13
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-16 14:40] 0crat commented on #12
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-16 14:40] 0crat commented on #25
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-16 14:47] 0crat commented on #27
The job [#27](https://github.com/zold-io/java-api/issues/27) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CAZUREFND/1971448469); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-17 00:33] #18 closed

[2018-07-17 00:33] 0crat commented on #18
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.16](https://github.com/zerocracy/farm): Issue: zold-io/java-api#18, Action: `closed`

[2018-07-17 00:50] 0crat commented on #18
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-17 00:50] 0crat commented on #18
Job `gh:zold-io/java-api#18` is not assigned, can't get performer

[2018-07-17 00:50] 0crat commented on #18
The job [#18](https://github.com/zold-io/java-api/issues/18) is now out of scope

[2018-07-17 07:44] ypshenychka commented on #18
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please confirm you'll try avoid such situations in future.

[2018-07-17 11:53] llorllale commented on #18
@ypshenychka there seems to be a bug in 0crat then - it was automatically assigned to @paulodamaso [here](https://github.com/zold-io/java-api/issues/18#issuecomment-404730346)

[2018-07-17 11:56] ypshenychka commented on #18
@llorllale I see. Probably there were no people available for this work or it's really a bug?

[2018-07-17 11:59] ypshenychka commented on #18
@llorllale anyways I can't blame @paulodamaso here.
@paulodamaso please ignore my review comment.

[2018-07-17 11:59] ypshenychka commented on #18
@0crat quality good

[2018-07-17 12:00] 0crat commented on #18
Order was finished, quality is "good": +46 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-17 12:00] 0crat commented on #18
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-17 12:08] 0crat commented on #21
The job [#21](https://github.com/zold-io/java-api/issues/21) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CAZUREFND/1981218439); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-07-18 19:42] 0crat commented on #34
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-19 09:45] 0crat commented on #15
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#15](https://github.com/zold-io/java-api/issues/15), since the job is not in scope anymore

[2018-07-19 09:45] 0crat commented on #15
The job [#15](https://github.com/zold-io/java-api/issues/15) is now out of scope

[2018-07-19 09:45] 0crat commented on #17
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#17](https://github.com/zold-io/java-api/issues/17), since the job is not in scope anymore

[2018-07-19 09:45] 0crat commented on #17
The job [#17](https://github.com/zold-io/java-api/issues/17) is now out of scope

[2018-07-19 14:22] 0pdd opened #38 "NetworkTest.java:38-41: Implement Remote interface...."
The puzzle `5-38f68f69` from #5 has to be resolved:

https://github.com/zold-io/java-api/blob/e7bf16247075ec2bb23081b61e1835fa44551621/src/test/java/io/zold/api/NetworkTest.java#L38-L41

The puzzle was created by Paulo Lobo on 19-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the t

[2018-07-19 14:22] 0pdd opened #39 "RtNetwork.java:32-35: We must figure out how to 'load'..."
The puzzle `5-fd3c6d54` from #5 has to be resolved:

https://github.com/zold-io/java-api/blob/e7bf16247075ec2bb23081b61e1835fa44551621/src/main/java/io/zold/api/RtNetwork.java#L32-L35

The puzzle was created by Paulo Lobo on 19-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2018-07-19 14:22] 0pdd opened #40 "RtNetwork.java:52-55: Implement scoring algorithm when..."
The puzzle `5-c56bb757` from #5 has to be resolved:

https://github.com/zold-io/java-api/blob/e7bf16247075ec2bb23081b61e1835fa44551621/src/main/java/io/zold/api/RtNetwork.java#L52-L55

The puzzle was created by Paulo Lobo on 19-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2018-07-19 14:22] 0pdd opened #41 "RtNetwork.java:63-67: Implement pull method. Pulling a..."
The puzzle `5-dec07794` from #5 has to be resolved:

https://github.com/zold-io/java-api/blob/e7bf16247075ec2bb23081b61e1835fa44551621/src/main/java/io/zold/api/RtNetwork.java#L63-L67

The puzzle was created by Paulo Lobo on 19-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2018-07-19 14:22] 0crat commented on #39
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-19 14:22] 0pdd commented on #5
@llorllale 4 puzzles [#38](https://github.com/zold-io/java-api/issues/38), [#39](https://github.com/zold-io/java-api/issues/39), [#40](https://github.com/zold-io/java-api/issues/40), [#41](https://github.com/zold-io/java-api/issues/41) are still not solved.

[2018-07-19 14:22] 0crat commented on #39
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.26.3](https://github.com/zerocracy/farm): Issue: zold-io/java-api#39, Action: `opened`

[2018-07-19 14:23] 0crat commented on #38
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.26.3](https://github.com/zerocracy/farm): Issue: zold-io/java-api#38, Action: `labeled`

[2018-07-19 14:23] 0crat commented on #38
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-19 14:23] 0crat commented on #38
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.26.3](https://github.com/zerocracy/farm): Issue: zold-io/java-api#38, Action: `opened`

[2018-07-19 14:24] 0crat commented on #41
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-19 15:00] llorllale commented on #5
@paulodamaso thanks

[2018-07-19 15:00] #5 closed

[2018-07-19 15:15] 0crat commented on #5
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.26.3](https://github.com/zerocracy/farm): CID: [2001511415](https://www.0crat.com/CAZUREFND/2001511415), Type: "Close job", Author: "llorllale"

[2018-07-19 15:16] 0crat commented on #5
Job `gh:zold-io/java-api#5` is not assigned, can't get start time

[2018-07-19 15:16] 0crat commented on #5
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-19 15:16] 0crat commented on #5
The job [#5](https://github.com/zold-io/java-api/issues/5) is now out of scope

[2018-07-19 15:36] ypshenychka commented on #5
@0crat quality good

[2018-07-19 15:41] 0crat commented on #5
Order was finished, quality is "good": +46 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-19 15:41] 0crat commented on #5
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-19 18:03] paulodamaso commented on #25
@0crat wait for review in #35.

[2018-07-19 18:16] 0crat commented on #25
@paulodamaso The impediment for [#25](https://github.com/zold-io/java-api/issues/25) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-19 20:41] paulodamaso commented on #21
@llorllale This one looks like a bit tricky to me: I'm really in doubt between two options:

1. should we put all validations inside the constructor (and then remove validations and logic from https://github.com/zold-io/java-api/issues/22, https://github.com/zold-io/java-api/issues/23, https://github.com/zold-io/java-api/issues/24, https://github.com/zold-io/java-api/issues/26, https://github.com/

[2018-07-20 12:41] paulodamaso commented on #21
@llorllale ping

[2018-07-20 18:22] 0crat commented on #12
The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#12](https://github.com/zold-io/java-api/issues/12), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-20 18:22] 0crat commented on #12
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-07-21 09:58] victornoel opened #42 "Replace Mocks with Fakes in tests"
There is a lot of use of Mockito in the tests, it makes it very hard to read and a pain to write.

Using Fakes (see https://www.yegor256.com/2014/09/23/built-in-fake-objects.html) instead would improve the quality of the tests as well as provide a secondary implementation of the main concepts of the Zold java-api, which can only be good for the project.

[2018-07-21 09:58] 0crat commented on #42
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-21 09:58] 0crat commented on #42
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUREFND) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-21 09:58] 0crat commented on #42
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-21 09:58] 0crat commented on #42
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUREFND) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-21 10:05] g4s8 commented on #42
@0crat status

[2018-07-21 10:15] 0crat commented on #42
@g4s8 This is what I know about this job in [CAZUREFND](https://www.0crat.com/p/CAZUREFND), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#42](https://github.com/zold-io/java-api/issues/42) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CAZUREFND?q=%7Bjob%3A%27gh%3Azold-io%2Fjava-api%2342%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-07-21 15:19] #25 closed

[2018-07-21 15:19] 0pdd commented on #25
The puzzle `15-f9a60893` has disappeared from the source code, that's why I closed this issue.

[2018-07-21 15:19] 0pdd commented on #6
@llorllale 9 puzzles [#16](https://github.com/zold-io/java-api/issues/16), [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#23](https://github.com/zold-io/java-api/issues/23), [#24](https://github.com/zold-io/java-api/issues/24), [#26](https://github.com/zold-io/java-api/issues/26), [#27](https://github.com/zold-io/java-api/issues/27), [

[2018-07-21 15:19] 0pdd commented on #15
@0pdd 8 puzzles [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#23](https://github.com/zold-io/java-api/issues/23), [#24](https://github.com/zold-io/java-api/issues/24), [#26](https://github.com/zold-io/java-api/issues/26), [#27](https://github.com/zold-io/java-api/issues/27), [#28](https://github.com/zold-io/java-api/issues/28), [#29](

[2018-07-21 15:20] 0crat commented on #25
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.26.4](https://github.com/zerocracy/farm): Issue: zold-io/java-api#25, Action: `closed`

[2018-07-21 15:38] 0crat commented on #27
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-21 15:38] 0crat commented on #25
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-21 15:38] 0crat commented on #25
The job [#25](https://github.com/zold-io/java-api/issues/25) is now out of scope

[2018-07-21 16:33] llorllale commented on #21
@paulodamaso I would refactor `RtTransaction.transaction` to be a `Scalar<String>` that would perform the overall pattern validation when the methods are called.

[2018-07-21 19:33] 0crat commented on #40
The job [#40](https://github.com/zold-io/java-api/issues/40) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CAZUREFND/2021936802); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-21 19:38] 0crat commented on #39
The job [#39](https://github.com/zold-io/java-api/issues/39) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CAZUREFND/2021941978); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-21 19:43] 0crat commented on #12
The job [#12](https://github.com/zold-io/java-api/issues/12) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CAZUREFND/2021947028); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-21 19:48] 0crat commented on #29
The job [#29](https://github.com/zold-io/java-api/issues/29) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CAZUREFND/2021952078); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-22 06:22] ypshenychka commented on #25
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

[One](https://github.com/zold-io/java-api/pull/35/commits/bbb6f5d8ab06631e513e9b1ef58611e44e702db1) of your commits contains link to incorrect issue. Please confirm you'll try to avoid this mistake in future.

[2018-07-22 06:33] 0crat commented on #28
The job [#28](https://github.com/zold-io/java-api/issues/28) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CAZUREFND/2030643522); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-22 06:38] 0crat commented on #24
The job [#24](https://github.com/zold-io/java-api/issues/24) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CAZUREFND/2030648710); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-22 06:43] 0crat commented on #23
The job [#23](https://github.com/zold-io/java-api/issues/23) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CAZUREFND/2030653777); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-22 06:48] 0crat commented on #22
The job [#22](https://github.com/zold-io/java-api/issues/22) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CAZUREFND/2030658840); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-07-22 08:11] victornoel commented on #12
@llorllale something is not clear, how do you give an id to the created wallet?
Either `create` should take an id (`long`) or it should generate a random one.
Generating a random one could cause problems in case of conflict with an existing wallet I suppose.

[2018-07-22 08:11] victornoel commented on #12
@0crat waiting for an answer to https://github.com/zold-io/java-api/issues/12#issuecomment-406849015

[2018-07-22 08:11] 0crat commented on #12
@victornoel The impediment for [#12](https://github.com/zold-io/java-api/issues/12) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-22 08:17] victornoel opened #43 "RtTransaction.hashCode shouldn't directly delegate to String.hashCode"
Current implementation of `RtTransaction.hashCode` directly delegate to `this.transaction.hashCode`, but this breaks the contract of `Object` that says that `equals` and `hashCode` should be coherent together.

In particular it means that a transaction and a plain string can have the same hash code, but calling `equals` on them will return false.

The solution is trivial: use `Objects.hash` that e

[2018-07-22 08:17] 0crat commented on #43
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-22 08:17] 0crat commented on #43
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.26.4](https://github.com/zerocracy/farm): Issue: zold-io/java-api#43, Action: `opened`

[2018-07-22 08:51] carlosmiranda commented on #27
@0crat wait for merge of PR #44.

[2018-07-22 08:51] carlosmiranda commented on #27
@llorllale PR #44 for this is ready

[2018-07-22 08:51] 0crat commented on #27
@carlosmiranda The impediment for [#27](https://github.com/zold-io/java-api/issues/27) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-22 09:32] carlosmiranda commented on #24
@llorllale PR #45 is ready for this

[2018-07-22 09:32] carlosmiranda commented on #24
@0pdd wait for merge of PR #45.

[2018-07-22 09:38] victornoel commented on #29
@0crat waiting for #46 review and merge

[2018-07-22 09:41] 0crat commented on #29
@victornoel The impediment for [#29](https://github.com/zold-io/java-api/issues/29) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-22 10:32] carlosmiranda commented on #22
@llorllale PR #47 is now available for this.

[2018-07-22 10:32] carlosmiranda commented on #22
@0crat wait for merge of #47,

[2018-07-22 10:33] 0crat commented on #22
@carlosmiranda The impediment for [#22](https://github.com/zold-io/java-api/issues/22) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-22 12:24] victornoel opened #48 "Incorrect Network.push specification"
In the process of solving #40, I am faced with a problem with the existing code.

The javadoc of `Network.push` says:
[code]

But I don't think that is correct: the papers talks about selecting nodes with high score and a minimum of 16 when paying taxes. This has nothing to do with pushing, which should be done to every known nodes (even though they can decide not to accept the wallet).

The conce

[2018-07-22 14:33] victornoel commented on #41
@0crat waiting for #49 to be reviewed and merged.

[2018-07-22 14:33] 0crat commented on #41
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.26.4](https://github.com/zerocracy/farm): Issue: zold-io/java-api#41, Comment: 406871044

[2018-07-22 14:33] 0crat commented on #41
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.26.4](https://github.com/zerocracy/farm): Issue: zold-io/java-api#41, Action: `created`

[2018-07-22 14:35] victornoel commented on #41
@0crat status

[2018-07-22 14:40] 0crat commented on #41
@victornoel The impediment for [#41](https://github.com/zold-io/java-api/issues/41) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-22 14:40] 0crat commented on #41
@victornoel This is what I know about this job in [CAZUREFND](https://www.0crat.com/p/CAZUREFND), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#41](https://github.com/zold-io/java-api/issues/41) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [19hr](http:

[2018-07-23 05:48] 0crat commented on #34
The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#34](https://github.com/zold-io/java-api/issues/34), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-23 05:48] 0crat commented on #34
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-07-23 05:53] 0crat commented on #26
The job [#26](https://github.com/zold-io/java-api/issues/26) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/CAZUREFND/2040559067); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-23 12:51] paulodamaso commented on #25
@ypshenychka confirm

[2018-07-23 13:09] ypshenychka commented on #25
@paulodamaso thanks

[2018-07-23 13:09] ypshenychka commented on #25
@0crat quality acceptable

[2018-07-23 13:10] 0crat commented on #25
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-23 13:10] 0crat commented on #25
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-23 13:15] 0crat commented on #34
The job [#34](https://github.com/zold-io/java-api/issues/34) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CAZUREFND/2041328397); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-07-24 02:39] paulodamaso commented on #21
@llorllale I'll wait for #22, #23, #24, #26 and #27 issues to be merged, they already cover the validations of transaction string. Then I'll refactor `RtTransaction.transaction` as you asked. WDYT?

[2018-07-24 13:49] paulodamaso commented on #34
@llorllale What should I do here? It was decided in https://github.com/yegor256/cactoos/issues/933 that `cactoos` won't wrap `RuntimeExceptions`...

[2018-07-25 18:30] victornoel commented on #48
@llorllale @paulodamaso ping :)

[2018-07-25 18:30] victornoel commented on #12
@llorllale ping :)

[2018-07-25 18:37] 0crat commented on #38
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-25 19:31] paulodamaso commented on #48
@victornoel Sorry for the delay.

You are right, this javadoc is not correct. The pushing must have to be done to every known node, and its concept is separated of the paying taxes.

In my opinion `Network` should delegate these operations to `Remote` and `Wallet` as you suggested.

[2018-07-25 19:40] paulodamaso commented on #34
@llorllale ping

[2018-07-26 03:38] carlosmiranda commented on #23
@llorllale see PR #50 for this

[2018-07-26 03:38] carlosmiranda commented on #23
@0crat wait for merge of #50.

[2018-07-26 03:38] 0crat commented on #23
@carlosmiranda The impediment for [#23](https://github.com/zold-io/java-api/issues/23) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-26 03:49] carlosmiranda commented on #43
@victornoel, you [say](https://github.com/zold-io/java-api/issues/43#issue-343387444)

This is incorrect. From the `hashCode` [contract](https://docs.oracle.com/javase/7/docs/api/java/lang/Object.html#hashCode()) (my emphasis in **bold**):

There may be other reasons why delegating to `String.hashCode` might not be a good idea, but right now `RtTransaction.hashCode` complies with the `hashCode` co

[2018-07-26 07:00] victornoel commented on #43
Ok, I agree this is not violating the contract, but it is really cheap not to have this performance impact in that case. Why would we entertain the ambiguity just because we can?

[2018-07-26 07:05] carlosmiranda commented on #43
@victornoel for the most part I'm just being pedantic about your reasoning :) I don't _disagree_ that we should change it, ultimately it's the decision to make by @llorllale .

[2018-07-26 07:14] victornoel commented on #43
@carlosmiranda hehe, I would have done the same in your position ;)

[2018-07-26 20:39] 0crat commented on #39
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-27 03:48] carlosmiranda commented on #42
@victornoel will implement this after #49, we can use `Score.Default` from there to replace some mocks.

[2018-07-27 03:48] carlosmiranda commented on #42
@0crat wait for #49, that PR has some useful code we can use here.

[2018-07-27 03:53] carlosmiranda commented on #28
@0crat wait for related PRs #44, #45, #46. It contains some changes that will be redundant here.

[2018-07-27 04:14] 0crat commented on #42
@carlosmiranda The impediment for [#42](https://github.com/zold-io/java-api/issues/42) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-27 04:18] 0crat commented on #28
@carlosmiranda The impediment for [#28](https://github.com/zold-io/java-api/issues/28) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-27 06:34] victornoel commented on #39
@0crat wait I'm working on it

[2018-07-27 06:51] 0crat commented on #39
@victornoel The impediment for [#39](https://github.com/zold-io/java-api/issues/39) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-27 07:41] 0crat commented on #24
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-27 07:53] carlosmiranda commented on #24
@0crat wait for merge of #45

[2018-07-27 07:55] 0crat commented on #24
@carlosmiranda The impediment for [#24](https://github.com/zold-io/java-api/issues/24) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-27 11:08] t-izbassar commented on #16
@0crat refuse

[2018-07-27 11:09] t-izbassar commented on #26
@0crat refuse

[2018-07-27 11:11] t-izbassar commented on #38
@0crat refuse

[2018-07-27 11:12] 0crat commented on #16
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#16](https://github.com/zold-io/java-api/issues/16), please stop working. Reason for job resignation: Order was cancelled

[2018-07-27 11:12] 0crat commented on #26
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#26](https://github.com/zold-io/java-api/issues/26), please stop working. Reason for job resignation: Order was cancelled

[2018-07-27 11:16] 0crat commented on #38
@t-izbassar The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#38](https://github.com/zold-io/java-api/issues/38), please stop working. Reason for job resignation: Order was cancelled

[2018-07-27 11:23] 0crat commented on #16
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-07-28 09:20] victornoel commented on #48
@paulodamaso thanks for the feedback.

@llorllale I will go with the suggestion we agree on with @paulodamaso and we can discuss this in the PR if this is problematic.

[2018-07-28 09:20] #48 closed

[2018-07-28 09:21] victornoel commented on #12
@llorllale I will go on with an id passed as an argument, and we can iterate on that in the PR.

[2018-07-28 09:45] 0crat commented on #48
The job is not in WBS, won't close the order

[2018-07-28 09:45] 0crat commented on #48
Job `gh:zold-io/java-api#48` is not assigned, can't get performer

[2018-07-28 10:49] victornoel commented on #12
@0pdd this is implemented in #52

[2018-07-28 10:54] 0pdd commented on #12
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2018-07-28 13:29] victornoel commented on #40
@0pdd implemented in #53

[2018-07-28 13:34] 0pdd commented on #40
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2018-07-28 13:38] 0crat commented on #34
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-28 14:01] llorllale commented on #21
@paulodamaso I guess that would work, yes

[2018-07-28 14:07] llorllale commented on #43
@victornoel I think it's fine the way it is for now, thanks

[2018-07-28 14:07] #43 closed

[2018-07-28 14:16] #23 closed

[2018-07-28 14:16] 0pdd commented on #23
The puzzle `15-1e017e66` has disappeared from the source code, that's why I closed this issue.

[2018-07-28 14:16] 0pdd commented on #6
@llorllale 8 puzzles [#16](https://github.com/zold-io/java-api/issues/16), [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#24](https://github.com/zold-io/java-api/issues/24), [#26](https://github.com/zold-io/java-api/issues/26), [#27](https://github.com/zold-io/java-api/issues/27), [#28](https://github.com/zold-io/java-api/issues/28), [

[2018-07-28 14:16] 0pdd commented on #15
@0pdd 7 puzzles [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#24](https://github.com/zold-io/java-api/issues/24), [#26](https://github.com/zold-io/java-api/issues/26), [#27](https://github.com/zold-io/java-api/issues/27), [#28](https://github.com/zold-io/java-api/issues/28), [#29](https://github.com/zold-io/java-api/issues/29) are sti

[2018-07-28 14:22] 0crat commented on #43
The job is not in WBS, won't close the order

[2018-07-28 14:22] 0crat commented on #43
Job `gh:zold-io/java-api#43` is not assigned, can't get performer

[2018-07-28 14:31] 0crat commented on #23
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-28 14:31] 0crat commented on #23
The job [#23](https://github.com/zold-io/java-api/issues/23) is now out of scope

[2018-07-28 14:57] ypshenychka commented on #23
@0crat quality good

[2018-07-28 15:02] 0crat commented on #23
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-28 15:02] 0crat commented on #23
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-28 18:56] #29 closed

[2018-07-28 18:56] 0pdd commented on #29
The puzzle `15-0b8da355` has disappeared from the source code, that's why I closed this issue.

[2018-07-28 18:56] 0pdd opened #54 "CpTransaction.java:30-32: Implement the computation of..."
The puzzle `29-4f17ced3` from #29 has to be resolved:

https://github.com/zold-io/java-api/blob/72b9c483a598541c5923dcffaf05500492af3b74/src/main/java/io/zold/api/CpTransaction.java#L30-L32

The puzzle was created by Victor Noël on 25-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-07-28 18:56] 0pdd commented on #6
@llorllale 8 puzzles [#16](https://github.com/zold-io/java-api/issues/16), [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#24](https://github.com/zold-io/java-api/issues/24), [#26](https://github.com/zold-io/java-api/issues/26), [#27](https://github.com/zold-io/java-api/issues/27), [#28](https://github.com/zold-io/java-api/issues/28), [

[2018-07-28 18:56] 0pdd commented on #15
@0pdd 7 puzzles [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#24](https://github.com/zold-io/java-api/issues/24), [#26](https://github.com/zold-io/java-api/issues/26), [#27](https://github.com/zold-io/java-api/issues/27), [#28](https://github.com/zold-io/java-api/issues/28), [#54](https://github.com/zold-io/java-api/issues/54) are sti

[2018-07-28 18:56] 0pdd commented on #29
@0pdd the puzzle [#54](https://github.com/zold-io/java-api/issues/54) is still not solved.

[2018-07-28 18:57] 0crat commented on #54
Job [#54](https://github.com/zold-io/java-api/issues/54) is now in scope, role is `DEV`

[2018-07-28 18:57] 0crat commented on #54
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-28 18:57] 0crat commented on #54
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.4](https://github.com/zerocracy/farm): Issue: zold-io/java-api#54, Action: `opened`

[2018-07-28 19:20] 0crat commented on #29
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-28 19:21] 0crat commented on #29
The job [#29](https://github.com/zold-io/java-api/issues/29) is now out of scope

[2018-07-28 20:04] ypshenychka commented on #29
@0crat quality good

[2018-07-28 20:06] 0crat commented on #29
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-28 20:06] 0crat commented on #29
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-29 10:29] victornoel commented on #39
@0crat I need #48 to be completed before I can do this.

[2018-07-29 10:29] 0crat commented on #39
@victornoel Can't understand "I", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this is

[2018-07-29 13:43] llorllale commented on #48
@victornoel right, the javadoc needs to be fixed

[2018-07-29 13:48] llorllale commented on #12
@victornoel this is how it's done in the ruby API:

https://github.com/zold-io/zold/blob/81af0dc81d81e060282a89573881da7b752b4d89/lib/zold/id.rb#L29-L37

[2018-07-29 13:50] llorllale commented on #34
@paulodamaso you made the right choice in your PR by not wrapping the exceptions

[2018-07-29 19:36] 0pdd commented on #41
The puzzle `5-dec07794` has disappeared from the source code, that's why I closed this issue.

[2018-07-29 19:36] #41 closed

[2018-07-29 19:36] 0pdd opened #56 "Copies.java:35-41: The constructor of Copies should be..."
The puzzle `41-44da2a34` from #41 has to be resolved:

https://github.com/zold-io/java-api/blob/7002ecb9690f5ae24333dcf4d86bb8dbde22bf97/src/main/java/io/zold/api/Copies.java#L35-L41

The puzzle was created by Victor Noël on 23-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2018-07-29 19:36] 0pdd commented on #5
@llorllale 4 puzzles [#38](https://github.com/zold-io/java-api/issues/38), [#39](https://github.com/zold-io/java-api/issues/39), [#40](https://github.com/zold-io/java-api/issues/40), [#56](https://github.com/zold-io/java-api/issues/56) are still not solved; solved: [#41](https://github.com/zold-io/java-api/issues/41).

[2018-07-29 19:36] 0pdd commented on #41
@0pdd the puzzle [#56](https://github.com/zold-io/java-api/issues/56) is still not solved.

[2018-07-29 19:36] 0crat commented on #56
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-29 19:36] 0crat commented on #56
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.27.4](https://github.com/zerocracy/farm): Issue: zold-io/java-api#56, Action: `opened`

[2018-07-29 19:39] 0crat commented on #56
Job [#56](https://github.com/zold-io/java-api/issues/56) is now in scope, role is `DEV`

[2018-07-29 19:52] 0crat commented on #41
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-29 19:52] 0crat commented on #41
The job [#41](https://github.com/zold-io/java-api/issues/41) is now out of scope

[2018-07-30 06:31] ypshenychka commented on #41
@0crat quality good

[2018-07-30 06:31] 0crat commented on #41
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-30 06:31] 0crat commented on #41
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-07-31 03:32] paulodamaso commented on #34
@0crat wait for merge of #51

[2018-07-31 03:59] 0crat commented on #34
@paulodamaso The impediment for [#34](https://github.com/zold-io/java-api/issues/34) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-31 08:10] carlosmiranda commented on #28
@llorllale PR #57 is now available for this.

[2018-07-31 21:48] #27 closed

[2018-07-31 21:48] 0pdd commented on #27
The puzzle `15-ad2b4fa5` has disappeared from the source code, that's why I closed this issue.

[2018-07-31 21:48] 0pdd commented on #6
@llorllale 7 puzzles [#16](https://github.com/zold-io/java-api/issues/16), [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#24](https://github.com/zold-io/java-api/issues/24), [#26](https://github.com/zold-io/java-api/issues/26), [#28](https://github.com/zold-io/java-api/issues/28), [#54](https://github.com/zold-io/java-api/issues/54) ar

[2018-07-31 21:48] 0pdd commented on #15
@0pdd 6 puzzles [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#24](https://github.com/zold-io/java-api/issues/24), [#26](https://github.com/zold-io/java-api/issues/26), [#28](https://github.com/zold-io/java-api/issues/28), [#54](https://github.com/zold-io/java-api/issues/54) are still not solved; solved: [#23](https://github.com/zold-i

[2018-07-31 22:04] 0crat commented on #27
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-31 22:04] 0crat commented on #27
The job [#27](https://github.com/zold-io/java-api/issues/27) is now out of scope

[2018-08-01 06:34] 0crat commented on #38
The job [#38](https://github.com/zold-io/java-api/issues/38) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CAZUREFND/2130639858); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-08-01 19:38] 0pdd commented on #34
The puzzle `33-65714492` has disappeared from the source code, that's why I closed this issue.

[2018-08-01 19:38] #34 closed

[2018-08-01 19:38] 0crat commented on #34
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#34, Action: `closed`

[2018-08-01 19:39] 0crat commented on #34
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#34, Action: `closed`

[2018-08-01 19:54] #24 closed

[2018-08-01 19:54] 0pdd commented on #24
The puzzle `15-a01f2b41` has disappeared from the source code, that's why I closed this issue.

[2018-08-01 19:54] 0pdd commented on #6
@llorllale 6 puzzles [#16](https://github.com/zold-io/java-api/issues/16), [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#26](https://github.com/zold-io/java-api/issues/26), [#28](https://github.com/zold-io/java-api/issues/28), [#54](https://github.com/zold-io/java-api/issues/54) are still not solved; solved: [#15](https://github.com/z

[2018-08-01 19:54] 0pdd commented on #15
@0pdd 5 puzzles [#21](https://github.com/zold-io/java-api/issues/21), [#22](https://github.com/zold-io/java-api/issues/22), [#26](https://github.com/zold-io/java-api/issues/26), [#28](https://github.com/zold-io/java-api/issues/28), [#54](https://github.com/zold-io/java-api/issues/54) are still not solved; solved: [#23](https://github.com/zold-io/java-api/issues/23), [#24](https://github.com/zold-i

[2018-08-01 19:54] 0crat commented on #24
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#24, Action: `closed`

[2018-08-01 19:54] 0crat commented on #24
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#24, Action: `closed`

[2018-08-01 21:40] carlosmiranda commented on #24
@llorllale can we manually move this out of scope?

[2018-08-01 23:35] carlosmiranda commented on #24
@0crat status

[2018-08-01 23:38] 0crat commented on #24
@carlosmiranda This is what I know about this job in [CAZUREFND](https://www.0crat.com/p/CAZUREFND), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#24](https://github.com/zold-io/java-api/issues/24) is [in scope](http://www.zerocracy.com/policy.html#14) for 22days
  * The role is `DEV`
  * The job is assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) for [1

[2018-08-02 14:33] #22 closed

[2018-08-02 14:33] 0pdd commented on #22
The puzzle `15-4f67a35d` has disappeared from the source code, that's why I closed this issue.

[2018-08-02 14:33] 0pdd commented on #6
@llorllale 5 puzzles [#16](https://github.com/zold-io/java-api/issues/16), [#21](https://github.com/zold-io/java-api/issues/21), [#26](https://github.com/zold-io/java-api/issues/26), [#28](https://github.com/zold-io/java-api/issues/28), [#54](https://github.com/zold-io/java-api/issues/54) are still not solved; solved: [#15](https://github.com/zold-io/java-api/issues/15), [#17](https://github.com/z

[2018-08-02 14:33] 0pdd commented on #15
@0pdd 4 puzzles [#21](https://github.com/zold-io/java-api/issues/21), [#26](https://github.com/zold-io/java-api/issues/26), [#28](https://github.com/zold-io/java-api/issues/28), [#54](https://github.com/zold-io/java-api/issues/54) are still not solved; solved: [#22](https://github.com/zold-io/java-api/issues/22), [#23](https://github.com/zold-io/java-api/issues/23), [#24](https://github.com/zold-i

[2018-08-02 15:35] 0crat commented on #22
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.8](https://github.com/zerocracy/farm): Issue: zold-io/java-api#22, Action: `closed`

[2018-08-02 15:35] 0crat commented on #22
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.8](https://github.com/zerocracy/farm): Issue: zold-io/java-api#22, Action: `closed`

[2018-08-02 16:52] paulodamaso commented on #34
@0crat out

[2018-08-02 16:53] 0crat commented on #34
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2018-08-02 16:54] paulodamaso commented on #34
@llorllale Please take a look, something went wrong

[2018-08-02 18:41] llorllale commented on #34
@0crat out

[2018-08-02 18:42] 0crat commented on #34
@llorllale There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.9](https://github.com/zerocracy/farm): CID: [2141841511](https://www.0crat.com/CAZUREFND/2141841511), Type: "Close job", Author: "llorllale"

[2018-08-02 18:42] 0crat commented on #34
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-02 18:43] 0crat commented on #34
@llorllale The job [#34](https://github.com/zold-io/java-api/issues/34) is now out of scope

[2018-08-02 18:48] 0crat commented on #54
The job [#54](https://github.com/zold-io/java-api/issues/54) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CAZUREFND/2141847569); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-08-02 18:53] 0crat commented on #56
The job [#56](https://github.com/zold-io/java-api/issues/56) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CAZUREFND/2141852638); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-08-02 18:58] 0crat commented on #16
The job [#16](https://github.com/zold-io/java-api/issues/16) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CAZUREFND/2141856690); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-08-02 19:03] 0crat commented on #26
The job [#26](https://github.com/zold-io/java-api/issues/26) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CAZUREFND/2141902745); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-08-02 19:35] #28 closed

[2018-08-02 19:35] 0pdd commented on #28
The puzzle `15-0d2d728d` has disappeared from the source code, that's why I closed this issue.

[2018-08-02 19:35] 0pdd commented on #6
@llorllale 4 puzzles [#16](https://github.com/zold-io/java-api/issues/16), [#21](https://github.com/zold-io/java-api/issues/21), [#26](https://github.com/zold-io/java-api/issues/26), [#54](https://github.com/zold-io/java-api/issues/54) are still not solved; solved: [#15](https://github.com/zold-io/java-api/issues/15), [#17](https://github.com/zold-io/java-api/issues/17), [#22](https://github.com/z

[2018-08-02 19:35] 0pdd commented on #15
@0pdd 3 puzzles [#21](https://github.com/zold-io/java-api/issues/21), [#26](https://github.com/zold-io/java-api/issues/26), [#54](https://github.com/zold-io/java-api/issues/54) are still not solved; solved: [#22](https://github.com/zold-io/java-api/issues/22), [#23](https://github.com/zold-io/java-api/issues/23), [#24](https://github.com/zold-io/java-api/issues/24), [#25](https://github.com/zold-i

[2018-08-02 19:36] 0crat commented on #28
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#28, Action: `closed`

[2018-08-02 19:36] 0crat commented on #28
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.9](https://github.com/zerocracy/farm): Issue: zold-io/java-api#28, Action: `closed`

[2018-08-02 23:27] carlosmiranda commented on #24
@llorllale this one too, we need to move it out of scope. See https://github.com/zerocracy/farm/issues/1528

[2018-08-02 23:35] llorllale commented on #24
@0crat out

[2018-08-03 00:52] 0crat commented on #24
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-03 00:52] 0crat commented on #22
@llorllale Job [#22](https://github.com/zold-io/java-api/issues/22) is not in the agenda of @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), can't inspect

[2018-08-03 00:52] 0crat commented on #28
@llorllale Job [#28](https://github.com/zold-io/java-api/issues/28) is not in the agenda of @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), can't inspect

[2018-08-03 01:07] carlosmiranda commented on #28
@0crat status

[2018-08-03 01:07] carlosmiranda commented on #22
@0crat status

[2018-08-03 01:08] 0crat commented on #22
@llorllale The job [#22](https://github.com/zold-io/java-api/issues/22) is now out of scope

[2018-08-03 01:13] paulodamaso commented on #34
@0crat status

[2018-08-03 01:14] 0crat commented on #28
@llorllale The job [#28](https://github.com/zold-io/java-api/issues/28) is now out of scope

[2018-08-03 01:14] 0crat commented on #24
@llorllale The job [#24](https://github.com/zold-io/java-api/issues/24) is now out of scope

[2018-08-03 01:27] carlosmiranda commented on #28
@ypshenychka @llorllale seems like `@0crat` got confused here, this is currently awaiting QA verdict.

[2018-08-03 01:27] carlosmiranda commented on #22
@ypshenychka @llorllale seems like `@0crat` got confused here, this is currently awaiting QA verdict.

[2018-08-03 01:27] 0crat commented on #22
Are you speaking to me or about me [here](https://github.com/zold-io/java-api/issues/22#issuecomment-410116144); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-08-03 01:27] 0crat commented on #28
Are you speaking to me or about me [here](https://github.com/zold-io/java-api/issues/28#issuecomment-410116129); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-08-03 07:35] ypshenychka commented on #24
@0crat quality good

[2018-08-03 07:35] ypshenychka commented on #34
@0crat quality good

[2018-08-03 07:36] ypshenychka commented on #22
@0crat quality good

[2018-08-03 07:38] ypshenychka commented on #28
@0crat quality good

[2018-08-03 07:50] 0crat commented on #34
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-03 07:51] 0crat commented on #24
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-03 07:51] 0crat commented on #34
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-03 07:51] 0crat commented on #22
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-03 07:51] 0crat commented on #22
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-03 07:51] 0crat commented on #24
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-03 07:52] 0crat commented on #28
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-03 07:52] 0crat commented on #28
Order was finished, quality is "good": +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-04 12:16] Vatavuk opened #59 "Code duplication in RtTransaction"
We have code duplication in `RtTransaction`. Each method parses transaction string in a same manner:
[code]
We can extract this to a method or a class.
Furthermore we can simplify the above example to:
[code]

[2018-08-04 12:16] 0crat commented on #59
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-04 12:16] 0crat commented on #59
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.15](https://github.com/zerocracy/farm): Issue: zold-io/java-api#59, Action: `opened`

[2018-08-04 12:56] victornoel commented on #59
@Vatavuk yes, or we could merge it with the pattern matching that follows and match the whole string instead of first splitting it by `;`.
Check yegor256/cactoos#941 that I opened in cactoos that is related too.

[2018-08-04 13:59] llorllale commented on #59
@Vatavuk let's wait for yegor256/cactoos#941

[2018-08-06 06:41] 0crat commented on #38
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-06 07:48] carlosmiranda commented on #38
@0crat wait (too many tasks)

[2018-08-06 07:49] 0crat commented on #38
@carlosmiranda The impediment for [#38](https://github.com/zold-io/java-api/issues/38) was registered successfully by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-08-07 08:41] Vatavuk commented on #16
@0crat wait busy week

[2018-08-07 08:42] 0crat commented on #16
@Vatavuk The impediment for [#16](https://github.com/zold-io/java-api/issues/16) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-08-07 08:43] Vatavuk commented on #56
@0crat wait for a review in #60

[2018-08-07 08:44] 0crat commented on #56
@Vatavuk The impediment for [#56](https://github.com/zold-io/java-api/issues/56) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-08-07 14:39] 0crat commented on #26
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-07 14:39] 0crat commented on #26
The job [#26](https://github.com/zold-io/java-api/issues/26) is now out of scope

[2018-08-07 17:53] paulodamaso commented on #54
@victornoel What would be "computation" of transaction? It is not mentioned by its terms anywhere in witepaper.

[2018-08-07 18:11] victornoel commented on #54
@paulodamaso it is something that compute the string of the transaction, not the transaction itself. It's a computed transaction. When creating a new transaction, you need to define its string representation, and in particular it includes the signature based on the private RSA key of the wallet + some other things. It is described in the paper where the transaction string is described in Section 4

[2018-08-07 19:29] 0pdd commented on #40
The puzzle `5-c56bb757` has disappeared from the source code, that's why I closed this issue.

[2018-08-07 19:29] #40 closed

[2018-08-07 19:29] 0pdd opened #61 "Taxes.java:34-40: Implement tax payment to remote nodes...."
The puzzle `40-432fb579` from #40 has to be resolved:

https://github.com/zold-io/java-api/blob/4a0b4b4bed8a2e35dacb4def1b60fab6354cd1f7/src/main/java/io/zold/api/Taxes.java#L34-L40

The puzzle was created by Victor Noël on 28-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text

[2018-08-07 19:29] 0pdd commented on #5
@llorllale 4 puzzles [#38](https://github.com/zold-io/java-api/issues/38), [#39](https://github.com/zold-io/java-api/issues/39), [#56](https://github.com/zold-io/java-api/issues/56), [#61](https://github.com/zold-io/java-api/issues/61) are still not solved; solved: [#40](https://github.com/zold-io/java-api/issues/40), [#41](https://github.com/zold-io/java-api/issues/41).

[2018-08-07 19:29] 0pdd commented on #40
@0pdd the puzzle [#61](https://github.com/zold-io/java-api/issues/61) is still not solved.

[2018-08-07 19:29] 0crat commented on #61
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-07 19:29] 0crat commented on #61
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.6](https://github.com/zerocracy/farm): Issue: zold-io/java-api#61, Action: `opened`

[2018-08-07 19:30] ypshenychka commented on #26
@0crat quality good

[2018-08-07 19:41] 0crat commented on #26
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-08-07 19:42] 0crat commented on #26
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-07 19:42] 0crat commented on #61
Job [#61](https://github.com/zold-io/java-api/issues/61) is now in scope, role is `DEV`

[2018-08-07 19:45] 0crat commented on #54
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-07 19:45] 0crat commented on #61
The job [#61](https://github.com/zold-io/java-api/issues/61) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CAZUREFND/2191940415); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-08-07 19:46] 0crat commented on #61
Job `gh:zold-io/java-api#61` already assigned to @paulodamaso, can't assign to @vatavuk

[2018-08-07 19:46] 0crat commented on #40
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-07 19:46] 0crat commented on #40
The job [#40](https://github.com/zold-io/java-api/issues/40) is now out of scope

[2018-08-07 20:52] ypshenychka commented on #40
@0crat quality good

[2018-08-07 20:53] 0crat commented on #40
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-08-07 20:54] 0crat commented on #40
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-08 04:13] carlosmiranda commented on #42
@victornoel see PR #64 please

[2018-08-08 11:50] paulodamaso commented on #21
@0crat wait for #62 review

[2018-08-08 12:04] 0crat commented on #21
@paulodamaso Job [#21](https://github.com/zold-io/java-api/issues/21) is already on hold

[2018-08-08 13:07] #12 closed

[2018-08-08 13:07] 0pdd commented on #12
The puzzle `4-968ad704` has disappeared from the source code, that's why I closed this issue.

[2018-08-08 13:07] 0pdd opened #65 "WalletsIn.java:93-95: Create the new wallet in the path..."
The puzzle `12-1be65647` from #12 has to be resolved:

https://github.com/zold-io/java-api/blob/50f250cf1c8c59665d2f689f88a5a4c70e0774b1/src/main/java/io/zold/api/WalletsIn.java#L93-L95

The puzzle was created by rultor on 08-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text

[2018-08-08 13:08] 0pdd opened #66 "WalletsInTest.java:84-89: Ensure creating a new wallet in..."
The puzzle `12-99ac50e5` from #12 has to be resolved:

https://github.com/zold-io/java-api/blob/50f250cf1c8c59665d2f689f88a5a4c70e0774b1/src/test/java/io/zold/api/WalletsInTest.java#L84-L89

The puzzle was created by rultor on 08-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the t

[2018-08-08 13:08] 0pdd commented on #4
@llorllale 2 puzzles [#65](https://github.com/zold-io/java-api/issues/65), [#66](https://github.com/zold-io/java-api/issues/66) are still not solved; solved: [#12](https://github.com/zold-io/java-api/issues/12), [#13](https://github.com/zold-io/java-api/issues/13).

[2018-08-08 13:08] 0pdd commented on #12
@0pdd 2 puzzles [#65](https://github.com/zold-io/java-api/issues/65), [#66](https://github.com/zold-io/java-api/issues/66) are still not solved.

[2018-08-08 13:09] 0crat commented on #66
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-08 13:09] 0crat commented on #66
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.7](https://github.com/zerocracy/farm): Issue: zold-io/java-api#66, Action: `opened`

[2018-08-08 13:10] 0crat commented on #65
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-08 13:10] 0crat commented on #65
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.7](https://github.com/zerocracy/farm): Issue: zold-io/java-api#65, Action: `opened`

[2018-08-08 13:10] 0crat commented on #66
Job [#66](https://github.com/zold-io/java-api/issues/66) is now in scope, role is `DEV`

[2018-08-08 13:11] 0crat commented on #65
Job [#65](https://github.com/zold-io/java-api/issues/65) is now in scope, role is `DEV`

[2018-08-08 13:13] 0crat commented on #66
The job [#66](https://github.com/zold-io/java-api/issues/66) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/CAZUREFND/2201313143); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-08-08 13:14] llorllale commented on #32
@t-izbassar can we close this?

[2018-08-08 13:26] 0crat commented on #12
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-08 13:27] t-izbassar commented on #32
@llorllale can you provide links on documentation or commits that are improving the understanding of the project?

[2018-08-08 13:27] 0crat commented on #12
The job [#12](https://github.com/zold-io/java-api/issues/12) is now out of scope

[2018-08-08 14:12] ypshenychka commented on #12
@0crat quality good

[2018-08-08 14:14] 0crat commented on #12
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-08-08 14:14] 0crat commented on #12
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-08 18:14] paulodamaso commented on #54
@0crat wait for review on #63

[2018-08-08 18:15] 0crat commented on #54
@paulodamaso The impediment for [#54](https://github.com/zold-io/java-api/issues/54) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-08 21:15] alex-semenyuk opened #67 "Cannot run program xcop"
On running maven clean install -Pqulice throw the following error on Windows:

For com.jcabi required to install xcop by gem and add to PATH variable.

[2018-08-08 21:15] 0crat commented on #67
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-08 21:15] 0crat commented on #67
@alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUREFND) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-08 21:16] 0crat commented on #67
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-08 21:16] 0crat commented on #67
@alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUREFND) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-09 00:47] carlosmiranda commented on #42
@victornoel you are better off commenting this (https://github.com/zold-io/java-api/issues/42#issuecomment-411422843) in #64 than here. :)

[2018-08-09 03:36] carlosmiranda commented on #38
@llorllale see PR #69

[2018-08-09 07:51] 0crat commented on #65
The job [#65](https://github.com/zold-io/java-api/issues/65) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CAZUREFND/2210751434); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-08-09 08:02] Vatavuk opened #70 "Wallet merging of copies"
According to the whitepaper merging of two wallets is an operation of merging `copies` into a local one.
Merge algorithm first sorts the `copies` and then merges transactions from that copies.
Currently, sorting is done outside `Wallet.merge()` method. It is part of `Remote.pull()` method.
I propose to add an additional method to `Wallet` : `Wallet merge(Copies copies)` and remove explicit sorting

[2018-08-09 08:02] 0crat commented on #70
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-09 08:02] 0crat commented on #70
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.8](https://github.com/zerocracy/farm): Issue: zold-io/java-api#70, Action: `opened`

[2018-08-11 14:51] #54 closed

[2018-08-11 14:51] 0pdd commented on #54
The puzzle `29-4f17ced3` has disappeared from the source code, that's why I closed this issue.

[2018-08-11 14:51] 0pdd opened #73 "CpTransaction.java:30-33: Implement the computation of..."
The puzzle `54-c02fec87` from #54 has to be resolved:

https://github.com/zold-io/java-api/blob/156d5b590d9c535ba98e5568acddee9fdd463b8a/src/main/java/io/zold/api/CpTransaction.java#L30-L33

The puzzle was created by rultor on 11-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the t

[2018-08-11 14:51] 0pdd opened #74 "Wallet.java:200-202: Implement key method. This should..."
The puzzle `54-605ff193` from #54 has to be resolved:

https://github.com/zold-io/java-api/blob/156d5b590d9c535ba98e5568acddee9fdd463b8a/src/main/java/io/zold/api/Wallet.java#L200-L202

The puzzle was created by rultor on 11-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text o

[2018-08-11 14:51] 0pdd commented on #6
@llorllale 4 puzzles [#16](https://github.com/zold-io/java-api/issues/16), [#21](https://github.com/zold-io/java-api/issues/21), [#73](https://github.com/zold-io/java-api/issues/73), [#74](https://github.com/zold-io/java-api/issues/74) are still not solved; solved: [#15](https://github.com/zold-io/java-api/issues/15), [#17](https://github.com/zold-io/java-api/issues/17), [#22](https://github.com/z

[2018-08-11 14:51] 0pdd commented on #15
@0pdd 3 puzzles [#21](https://github.com/zold-io/java-api/issues/21), [#73](https://github.com/zold-io/java-api/issues/73), [#74](https://github.com/zold-io/java-api/issues/74) are still not solved; solved: [#22](https://github.com/zold-io/java-api/issues/22), [#23](https://github.com/zold-io/java-api/issues/23), [#24](https://github.com/zold-io/java-api/issues/24), [#25](https://github.com/zold-i

[2018-08-11 14:51] 0pdd commented on #29
@0pdd 2 puzzles [#73](https://github.com/zold-io/java-api/issues/73), [#74](https://github.com/zold-io/java-api/issues/74) are still not solved; solved: [#54](https://github.com/zold-io/java-api/issues/54).

[2018-08-11 14:51] 0pdd commented on #54
@0pdd 2 puzzles [#73](https://github.com/zold-io/java-api/issues/73), [#74](https://github.com/zold-io/java-api/issues/74) are still not solved.

[2018-08-11 14:52] 0crat commented on #74
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-11 14:53] 0crat commented on #74
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.8](https://github.com/zerocracy/farm): Issue: zold-io/java-api#74, Action: `opened`

[2018-08-11 14:53] 0crat commented on #73
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-11 14:53] 0crat commented on #73
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.29.8](https://github.com/zerocracy/farm): Issue: zold-io/java-api#73, Action: `opened`

[2018-08-11 14:54] 0crat commented on #74
Job [#74](https://github.com/zold-io/java-api/issues/74) is now in scope, role is `DEV`

[2018-08-11 14:56] 0crat commented on #73
Job [#73](https://github.com/zold-io/java-api/issues/73) is now in scope, role is `DEV`

[2018-08-11 15:10] 0crat commented on #54
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-11 15:10] 0crat commented on #54
The job [#54](https://github.com/zold-io/java-api/issues/54) is now out of scope

[2018-08-11 15:36] 0pdd commented on #66
The puzzle `12-99ac50e5` has disappeared from the source code, that's why I closed this issue.

[2018-08-11 15:36] #66 closed

[2018-08-11 15:37] 0pdd commented on #4
@llorllale the puzzle [#65](https://github.com/zold-io/java-api/issues/65) is still not solved; solved: [#12](https://github.com/zold-io/java-api/issues/12), [#13](https://github.com/zold-io/java-api/issues/13), [#66](https://github.com/zold-io/java-api/issues/66).

[2018-08-11 15:37] 0pdd commented on #12
@0pdd the puzzle [#65](https://github.com/zold-io/java-api/issues/65) is still not solved; solved: [#66](https://github.com/zold-io/java-api/issues/66).

[2018-08-11 15:53] 0crat commented on #66
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-11 15:54] 0crat commented on #66
The job [#66](https://github.com/zold-io/java-api/issues/66) is now out of scope

[2018-08-12 14:09] llorllale commented on #70
@vatavuk agreed. I also think `Copy` should be a `Wallet` with the existing, extra attribute `score()`.

[2018-08-12 14:09] 0crat commented on #70
Job [#70](https://github.com/zold-io/java-api/issues/70) is now in scope, role is `DEV`

[2018-08-12 14:10] llorllale commented on #70
@0crat in

[2018-08-12 14:10] 0crat commented on #70
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-08-12 14:11] 0crat commented on #70
@llorllale Job [#70](https://github.com/zold-io/java-api/issues/70) is already in scope

[2018-08-12 21:28] 0pdd commented on #16
The puzzle `6-af7c6ffd` has disappeared from the source code, that's why I closed this issue.

[2018-08-12 21:28] #16 closed

[2018-08-12 21:28] 0pdd opened #75 "Wallet.java:47-50: Merge method should update..."
The puzzle `16-e32ec38b` from #16 has to be resolved:

https://github.com/zold-io/java-api/blob/6c868279a4227ca098afdf762c09a5be9f004786/src/main/java/io/zold/api/Wallet.java#L47-L50

The puzzle was created by rultor on 12-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of

[2018-08-12 21:28] 0pdd opened #76 "Wallet.java:205-213: Following transactions should be..."
The puzzle `16-27c16652` from #16 has to be resolved:

https://github.com/zold-io/java-api/blob/6c868279a4227ca098afdf762c09a5be9f004786/src/main/java/io/zold/api/Wallet.java#L205-L213

The puzzle was created by rultor on 12-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text o

[2018-08-12 21:28] 0pdd commented on #6
@llorllale 5 puzzles [#21](https://github.com/zold-io/java-api/issues/21), [#73](https://github.com/zold-io/java-api/issues/73), [#74](https://github.com/zold-io/java-api/issues/74), [#75](https://github.com/zold-io/java-api/issues/75), [#76](https://github.com/zold-io/java-api/issues/76) are still not solved; solved: [#15](https://github.com/zold-io/java-api/issues/15), [#16](https://github.com/z

[2018-08-12 21:28] 0pdd commented on #16
@0pdd 2 puzzles [#75](https://github.com/zold-io/java-api/issues/75), [#76](https://github.com/zold-io/java-api/issues/76) are still not solved.

[2018-08-12 21:30] 0crat commented on #76
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-12 21:30] 0crat commented on #76
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.30.1](https://github.com/zerocracy/farm): Issue: zold-io/java-api#76, Action: `opened`

[2018-08-12 21:31] 0crat commented on #75
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-12 21:31] 0crat commented on #75
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.30.1](https://github.com/zerocracy/farm): Issue: zold-io/java-api#75, Action: `opened`

[2018-08-12 21:31] 0crat commented on #76
Job [#76](https://github.com/zold-io/java-api/issues/76) is now in scope, role is `DEV`

[2018-08-12 21:32] 0crat commented on #75
Job [#75](https://github.com/zold-io/java-api/issues/75) is now in scope, role is `DEV`

[2018-08-12 21:45] 0crat commented on #16
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-12 21:45] 0crat commented on #16
The job [#16](https://github.com/zold-io/java-api/issues/16) is now out of scope

[2018-08-13 10:08] ypshenychka commented on #54
@0crat quality good

[2018-08-13 10:10] ypshenychka commented on #66
@0crat quality good

[2018-08-13 12:01] 0crat commented on #54
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-13 12:09] 0crat commented on #54
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-13 20:38] paulodamaso commented on #61
@0crat wait for #72 review

[2018-08-13 20:39] 0crat commented on #61
@paulodamaso The impediment for [#61](https://github.com/zold-io/java-api/issues/61) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-14 07:14] ypshenychka commented on #66
@0crat status

[2018-08-14 07:15] 0crat commented on #66
@ypshenychka This is what I know about this job in [CAZUREFND](https://www.0crat.com/p/CAZUREFND), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#66](https://github.com/zold-io/java-api/issues/66) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CAZUREFND?q=%7Bjob%3A%27gh%3Azold-io%2Fjava-api%2366%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted a

[2018-08-14 07:16] 0crat commented on #66
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-08-14 07:16] 0crat commented on #66
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-14 07:26] 0crat commented on #16
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-08-14 07:26] 0crat commented on #16
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-14 15:24] 0pdd opened #77 "WalletTest.java:81-84: This test had to be marked as..."
The puzzle `21-829d3247` from #21 has to be resolved:

https://github.com/zold-io/java-api/blob/03cd479c4b66bc9a3375b98e8e924b6ce8af46e1/src/test/java/io/zold/api/WalletTest.java#L81-L84

The puzzle was created by Paulo Lobo on 13-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the

[2018-08-14 15:26] 0crat commented on #77
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-14 15:26] 0crat commented on #77
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.30.4](https://github.com/zerocracy/farm): Issue: zold-io/java-api#77, Action: `opened`

[2018-08-14 15:27] 0crat commented on #77
Job [#77](https://github.com/zold-io/java-api/issues/77) is now in scope, role is `DEV`

[2018-08-14 15:42] 0crat commented on #21
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-14 15:42] 0crat commented on #21
The job [#21](https://github.com/zold-io/java-api/issues/21) is now out of scope

[2018-08-14 19:41] ypshenychka commented on #21
@0crat quality good

[2018-08-14 20:11] 0crat commented on #21
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-14 20:11] 0crat commented on #21
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-16 13:50] paulodamaso commented on #65
@0crat wait fr #78

[2018-08-16 13:58] 0crat commented on #65
@paulodamaso The impediment for [#65](https://github.com/zold-io/java-api/issues/65) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-16 20:41] #56 closed

[2018-08-16 20:41] 0pdd commented on #56
The puzzle `41-44da2a34` has disappeared from the source code, that's why I closed this issue.

[2018-08-16 20:41] 0pdd opened #79 "Copies.java:85-87: Compare the entire content of two..."
The puzzle `56-e2c92447` from #56 has to be resolved:

https://github.com/zold-io/java-api/blob/d6a83ae65f2c444b9ab8fba6c32434afa6160acd/src/main/java/io/zold/api/Copies.java#L85-L87

The puzzle was created by Vatavuk on 14-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of

[2018-08-16 20:41] 0pdd opened #80 "CopiesTest.java:37-41: Add more test scenarios to Copies...."
The puzzle `56-02b4f5e6` from #56 has to be resolved:

https://github.com/zold-io/java-api/blob/d6a83ae65f2c444b9ab8fba6c32434afa6160acd/src/test/java/io/zold/api/CopiesTest.java#L37-L41

The puzzle was created by Vatavuk on 06-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2018-08-16 20:41] 0pdd commented on #5
@llorllale 5 puzzles [#38](https://github.com/zold-io/java-api/issues/38), [#39](https://github.com/zold-io/java-api/issues/39), [#61](https://github.com/zold-io/java-api/issues/61), [#79](https://github.com/zold-io/java-api/issues/79), [#80](https://github.com/zold-io/java-api/issues/80) are still not solved; solved: [#40](https://github.com/zold-io/java-api/issues/40), [#41](https://github.com/z

[2018-08-16 20:41] 0pdd commented on #41
@0pdd 2 puzzles [#79](https://github.com/zold-io/java-api/issues/79), [#80](https://github.com/zold-io/java-api/issues/80) are still not solved; solved: [#56](https://github.com/zold-io/java-api/issues/56).

[2018-08-16 20:41] 0pdd commented on #56
@0pdd 2 puzzles [#79](https://github.com/zold-io/java-api/issues/79), [#80](https://github.com/zold-io/java-api/issues/80) are still not solved.

[2018-08-16 20:43] 0crat commented on #80
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-16 20:43] 0crat commented on #80
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.30.4](https://github.com/zerocracy/farm): Issue: zold-io/java-api#80, Action: `opened`

[2018-08-16 20:44] 0crat commented on #79
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-16 20:44] 0crat commented on #79
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.30.4](https://github.com/zerocracy/farm): Issue: zold-io/java-api#79, Action: `opened`

[2018-08-16 21:01] 0crat commented on #80
Job [#80](https://github.com/zold-io/java-api/issues/80) is now in scope, role is `DEV`

[2018-08-16 21:01] 0crat commented on #79
Job [#79](https://github.com/zold-io/java-api/issues/79) is now in scope, role is `DEV`

[2018-08-16 21:02] 0crat commented on #56
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-16 21:04] 0crat commented on #56
The job [#56](https://github.com/zold-io/java-api/issues/56) is now out of scope

[2018-08-17 10:11] ypshenychka commented on #56
@0crat quality good

[2018-08-17 10:17] 0crat commented on #56
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-08-17 10:17] 0crat commented on #56
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-24 19:17] victornoel commented on #39
@0crat refuse

[2018-11-24 19:18] 0crat commented on #39
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#39](https://github.com/zold-io/java-api/issues/39), please stop working. Reason for job resignation: Order was cancelled

[2018-11-24 19:19] 0crat commented on #39
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-12-04 00:54] #61 closed

[2018-12-04 00:55] 0pdd commented on #61
The puzzle `40-432fb579` has disappeared from the source code, that's why I closed this issue.

[2018-12-04 00:55] 0pdd opened #81 "Transaction.java:145-148: Too many parameters on Fake..."
The puzzle `61-94b7f6ca` from #61 has to be resolved:

https://github.com/zold-io/java-api/blob/07545a9793c5b4ae56d5dab42c298d825c7dbedd/src/main/java/io/zold/api/Transaction.java#L145-L148

The puzzle was created by rultor on 04-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2018-12-04 00:55] 0pdd opened #82 "Taxes.java:34-41: Implement tax payment to remote nodes...."
The puzzle `61-7c0a7e0c` from #61 has to be resolved:

https://github.com/zold-io/java-api/blob/07545a9793c5b4ae56d5dab42c298d825c7dbedd/src/main/java/io/zold/api/Taxes.java#L34-L41

The puzzle was created by rultor on 04-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed

[2018-12-04 00:55] 0pdd opened #83 "TaxesTest.java:95-99: Create and implement an Transaction..."
The puzzle `61-03d7ee35` from #61 has to be resolved:

https://github.com/zold-io/java-api/blob/07545a9793c5b4ae56d5dab42c298d825c7dbedd/src/test/java/io/zold/api/TaxesTest.java#L95-L99

The puzzle was created by rultor on 04-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2018-12-04 00:55] 0pdd opened #84 "TaxesTest.java:114-119: Implement test assuring that the..."
The puzzle `61-fb82e65a` from #61 has to be resolved:

https://github.com/zold-io/java-api/blob/07545a9793c5b4ae56d5dab42c298d825c7dbedd/src/test/java/io/zold/api/TaxesTest.java#L114-L119

The puzzle was created by rultor on 04-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2018-12-04 00:55] 0pdd commented on #5
@llorllale 8 puzzles [#38](https://github.com/zold-io/java-api/issues/38), [#39](https://github.com/zold-io/java-api/issues/39), [#79](https://github.com/zold-io/java-api/issues/79), [#80](https://github.com/zold-io/java-api/issues/80), [#81](https://github.com/zold-io/java-api/issues/81), [#82](https://github.com/zold-io/java-api/issues/82), [#83](https://github.com/zold-io/java-api/issues/83), [

[2018-12-04 00:55] 0pdd commented on #40
@0pdd 4 puzzles [#81](https://github.com/zold-io/java-api/issues/81), [#82](https://github.com/zold-io/java-api/issues/82), [#83](https://github.com/zold-io/java-api/issues/83), [#84](https://github.com/zold-io/java-api/issues/84) are still not solved; solved: [#61](https://github.com/zold-io/java-api/issues/61).

[2018-12-04 00:55] 0pdd commented on #61
@0pdd 4 puzzles [#81](https://github.com/zold-io/java-api/issues/81), [#82](https://github.com/zold-io/java-api/issues/82), [#83](https://github.com/zold-io/java-api/issues/83), [#84](https://github.com/zold-io/java-api/issues/84) are still not solved.

[2018-12-04 00:56] 0crat commented on #84
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-04 00:57] 0crat commented on #83
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-04 00:57] 0crat commented on #83
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#83, Action: `opened`

[2018-12-04 00:57] 0crat commented on #82
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-04 00:58] 0crat commented on #82
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#82, Action: `opened`

[2018-12-04 00:58] 0crat commented on #81
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-04 00:58] 0crat commented on #81
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#81, Action: `opened`

[2018-12-04 01:00] 0crat commented on #84
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#84, Action: `opened`

[2018-12-04 01:04] 0crat commented on #83
Job [#83](https://github.com/zold-io/java-api/issues/83) is now in scope, role is `DEV`

[2018-12-04 01:04] 0crat commented on #82
Job [#82](https://github.com/zold-io/java-api/issues/82) is now in scope, role is `DEV`

[2018-12-04 01:04] 0crat commented on #81
Job [#81](https://github.com/zold-io/java-api/issues/81) is now in scope, role is `DEV`

[2018-12-04 01:09] #65 closed

[2018-12-04 01:09] 0pdd commented on #65
The puzzle `12-1be65647` has disappeared from the source code, that's why I closed this issue.

[2018-12-04 01:09] 0pdd opened #85 "WalletsIn.java:140-143: Create the new wallet in the path..."
The puzzle `65-14add99d` from #65 has to be resolved:

https://github.com/zold-io/java-api/blob/d746f597d1e2be1e6362fdfb8d675c98c90c9ca1/src/main/java/io/zold/api/WalletsIn.java#L140-L143

The puzzle was created by Paulo Lobo on 16-Aug-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2018-12-04 01:09] 0pdd opened #86 "Wallet.java:96-102: Complete Wallet implementations with..."
The puzzle `65-64ffac10` from #65 has to be resolved:

https://github.com/zold-io/java-api/blob/d746f597d1e2be1e6362fdfb8d675c98c90c9ca1/src/main/java/io/zold/api/Wallet.java#L96-L102

The puzzle was created by Paulo Lobo on 16-Aug-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2018-12-04 01:09] 0pdd commented on #4
@llorllale 2 puzzles [#85](https://github.com/zold-io/java-api/issues/85), [#86](https://github.com/zold-io/java-api/issues/86) are still not solved; solved: [#12](https://github.com/zold-io/java-api/issues/12), [#13](https://github.com/zold-io/java-api/issues/13), [#65](https://github.com/zold-io/java-api/issues/65), [#66](https://github.com/zold-io/java-api/issues/66).

[2018-12-04 01:09] 0pdd commented on #12
@0pdd 2 puzzles [#85](https://github.com/zold-io/java-api/issues/85), [#86](https://github.com/zold-io/java-api/issues/86) are still not solved; solved: [#65](https://github.com/zold-io/java-api/issues/65), [#66](https://github.com/zold-io/java-api/issues/66).

[2018-12-04 01:09] 0pdd commented on #65
@0pdd 2 puzzles [#85](https://github.com/zold-io/java-api/issues/85), [#86](https://github.com/zold-io/java-api/issues/86) are still not solved.

[2018-12-04 01:11] 0crat commented on #86
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-04 01:11] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#86, Action: `opened`

[2018-12-04 01:12] 0crat commented on #85
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-04 01:12] 0crat commented on #85
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.5](https://github.com/zerocracy/farm): Issue: zold-io/java-api#85, Action: `opened`

[2018-12-04 01:19] 0crat commented on #86
Job [#86](https://github.com/zold-io/java-api/issues/86) is now in scope, role is `DEV`

[2018-12-04 01:20] 0crat commented on #85
Job [#85](https://github.com/zold-io/java-api/issues/85) is now in scope, role is `DEV`

[2018-12-04 06:35] ypshenychka commented on #61
@0crat quality good

[2018-12-04 06:35] ypshenychka commented on #65
@0crat quality good

[2018-12-04 06:44] 0crat commented on #61
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-04 06:44] 0crat commented on #61
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-04 06:45] 0crat commented on #65
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-04 06:45] 0crat commented on #65
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-04 09:29] ypshenychka commented on #65
@llorllale No payment here as well

[2018-12-04 10:47] paulodamaso commented on #61
@llorllale No payment for me too

[2018-12-04 10:48] paulodamaso commented on #65
@llorllale Ditto

[2018-12-06 01:21] llorllale commented on #61
@0crat pay @ypshenychka 8min

[2018-12-06 01:21] llorllale commented on #61
@0crat pay @paulodamaso 35min

[2018-12-06 01:50] llorllale commented on #65
@0crat pay @ypshenychka 8min

[2018-12-06 01:50] llorllale commented on #65
@0crat pay @paulodamaso 35min

[2018-12-06 01:53] 0crat commented on #65
@llorllale Argument "@ypshenychka" doesn't match regex `\d+min`

[2018-12-06 01:53] 0crat commented on #65
@llorllale Argument "@paulodamaso" doesn't match regex `\d+min`

[2018-12-06 01:57] llorllale commented on #61
@0crat pay 8min @ypshenychka

[2018-12-06 01:57] llorllale commented on #61
@0crat pay 35min @paulodamaso

[2018-12-06 01:57] 0crat commented on #61
@llorllale The project is under-funded, you can't do it now, see [§49](http://www.zerocracy.com/policy.html#49)

[2018-12-06 01:58] 0crat commented on #61
@llorllale The project is under-funded, you can't do it now, see [§49](http://www.zerocracy.com/policy.html#49)

[2018-12-13 12:43] paulodamaso commented on #65
@llorllale ping

[2018-12-13 12:44] paulodamaso commented on #61
@llorllale ping

[2018-12-17 00:13] llorllale commented on #65
@0crat pay 35min @paulodamaso

[2018-12-17 00:14] llorllale commented on #65
@0crat pay 8min @ypshenychka

[2018-12-17 00:14] 0crat commented on #65
@llorllale The project is under-funded, you can't do it now, see [§49](http://www.zerocracy.com/policy.html#49)

[2018-12-17 00:14] 0crat commented on #65
@llorllale The project is under-funded, you can't do it now, see [§49](http://www.zerocracy.com/policy.html#49)

[2018-12-17 00:14] llorllale commented on #61
@paulodamaso not much I can do here..

[2019-01-01 16:09] fabriciofx opened #87 "Let's update Copyright notice to 2019."
Let's update Copyright notice to 2019.

[2019-01-01 16:09] 0crat commented on #87
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-01 16:09] 0crat commented on #87
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUREFND) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-01 16:09] 0crat commented on #87
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-01 16:09] 0crat commented on #87
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUREFND) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-02 15:03] llorllale commented on #87
@fabriciofx I don't understand why we should be maintaining a range of dates for the copyright notice. As far as I am aware, the really important date is the one when the work was published (the start date). You *may* add a "revised date" to the notice if a file's contents changes "significantly", but do **we** really need to? Guava certainly doesn't do it. I'm guessing the hassle isn't worth it.

[2019-01-02 15:03] llorllale commented on #87
@yegor256 WDYT about dropping date ranges from the copyright notice and just leave the original publication date?

[2019-01-02 16:45] fabriciofx commented on #87
@llorllale I agree with you. Let's wait for @yegor256 opinion. But let me know if you would like to close this issue and open another or just rename the title (and the others, like [cactoos/#985](https://github.com/yegor256/cactoos/issues/985), ok?

[2019-01-13 05:06] fabriciofx commented on #67
@llorllale @alex-semenyuk I've submitted a PR that fix this issue, but I've tested only on Windows 10 and Ubuntu 18.10. Can anyone test on macOS and others Windows and Linux versions too?

[2019-01-28 16:58] fabriciofx opened #88 "Update jcabi-parent to 0.49.4 (solves xcop issue)"
Let's update to new jcabi version (0.49.4) because this new version solves xcop issue on windows.

[2019-01-28 16:58] 0crat commented on #88
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-28 16:58] 0crat commented on #88
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUREFND) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-28 16:58] 0crat commented on #88
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-28 16:58] 0crat commented on #88
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CAZUREFND) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-11 02:21] carlosmiranda commented on #42
@0crat refuse

[2019-10-11 02:22] carlosmiranda commented on #42
@0crat refuse

[2019-10-11 02:22] carlosmiranda commented on #38
@0crat refuse

[2019-10-11 02:43] 0crat commented on #42
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#42](https://github.com/zold-io/java-api/issues/42), please stop working. Reason for job resignation: Order was cancelled

[2019-10-11 02:43] 0crat commented on #38
@carlosmiranda There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.18](https://github.com/zerocracy/farm): CID: [9cd01e2e-1058-4c0d-96e9-a799b4af09e3](https://www.0crat.com/footprint/CAZUREFND/9cd01e2e-1058-4c0d-96e9-a799b4af09e3), Type: "Order was canceled"

[2019-10-11 02:43] 0crat commented on #38
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#38](https://github.com/zold-io/java-api/issues/38), please stop working. Reason for job resignation: Order was cancelled

[2019-10-11 02:46] 0crat commented on #42
@carlosmiranda There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.18](https://github.com/zerocracy/farm): CID: [f41d22b4-8c0e-4a17-a22a-745ff913f2fc](https://www.0crat.com/footprint/CAZUREFND/f41d22b4-8c0e-4a17-a22a-745ff913f2fc), Type: "Order was canceled"